<!--
 * @Author: Hang
 * @Date: 2020-07-11 23:13:49
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-21 19:39:12
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/index.vue
 * @Description: 暂无描述
-->
<template>
  <section class="hf-ui">
    <el-header class="h-header clearfix">
      <div class="header-logo">
        HangMine
      </div>
      <!-- <div class="header-tabs">
        <el-tabs v-model="activeTab">
          <el-tab-pane label="首页" name="home"></el-tab-pane>
          <el-tab-pane label="组件" name="component"></el-tab-pane>
        </el-tabs>
      </div> -->
    </el-header>

    <el-container class="h-container">
      <el-aside class="h-aside" width="auto">
        <h-hide-scroll max-height="100%">
          <DMenu></DMenu>
        </h-hide-scroll>
      </el-aside>
      <el-main class="h-main">
        <h-content>
          <router-view></router-view>
        </h-content>
      </el-main>
    </el-container>
  </section>
</template>

<script>
import DMenu from '../layouts/DMenu';
export default {
  name: 'hf-ui',
  components: { DMenu },
  data() {
    return {
      activeTab: 'home'
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
.hf-ui {
  .h-header {
    // fantasy字体兼容性?
    font-family: fantasy;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    z-index: 1;
    .header-logo {
      float: left;
    }
    .header-tabs {
      float: left;
      margin-left: 100px;
    }
  }

  .h-aside {
    .el-menu {
      height: 100%;
    }
  }
  .h-container {
    max-height: calc(100vh - 60px);
    .h-main {
    }
  }
}
</style>
