<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-26 14:05:07
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/cascader/index.vue
 * @Description: 级联组件
-->

<template>
  <div class="d-cascader">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code">
      <template #display>
        <h-cascader v-model="test1.cascader" :data="cascaderData"></h-cascader>
      </template>
    </h-demo>

    <h-demo :title="test1_1.title" :explain="test1_1.explain" :code="test1_1.code">
      <template #display>
        <h-cascader v-model="test1_1.cascader" :data="cascaderData"></h-cascader>
      </template>
    </h-demo>

    <h-demo :title="test2.title" :explain="test2.explain" :code="test2.code">
      <template #display>
        <h-cascader v-model="test2.cascader" :data="cascaderData" type="radio"></h-cascader>
      </template>
      <template #help>
        传入<code>radio</code>属性
      </template>
    </h-demo>

    <h-demo :title="test2_1.title" :explain="test2_1.explain" :code="test2_1.code">
      <template #display>
        <h-cascader v-model="test2_1.cascader" :data="cascaderData" type="radio"></h-cascader>
      </template>
    </h-demo>

    <options-tables :options="options"> </options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';
export default {
  name: 'd-cascader',
  data() {
    return {
      code,
      options,
      cascaderData: [
        {
          key: '1',
          title: '测试'
        },
        {
          key: '2',
          title: '测试2',
          children: [
            {
              key: '77',
              title: '77'
            },
            {
              key: '88',
              title: '88'
            }
          ]
        },
        {
          key: '3',
          title: '测试3'
        },
        {
          key: '4',
          title: '测试4',
          children: [
            {
              key: '5',
              title: '测试5'
            },
            {
              key: '6',
              title: '测试6',
              children: [
                {
                  key: '22',
                  title: '22'
                },
                {
                  key: '33',
                  title: '33'
                }
              ]
            },
            {
              key: '7',
              title: '测试7'
            }
          ]
        }
      ],
      test1: {
        code: code.test1,
        title: '基本使用',
        explain: 'v-model数据结构为[][]，子级全选时会合并成父级，初始值可直接设置为[]，组件会转换成[][]的格式。',
        cascader: []
      },
      test1_1: {
        code: code.test1_1,
        title: '预设值',
        explain: `为兼容不同子级可以使用相同key值，使用该组件时，最终key值会转换成"key1-key2-key3"这种形式，这里的预设值为[['2'], ['4-5'], ['4-6-22']]`,
        cascader: [['2'], ['4-5'], ['4-6-22']]
      },
      test2: {
        code: code.test2,
        title: '单选模式',
        explain: 'v-model数据结构为[]',
        cascader: []
      },
      test2_1: {
        code: code.test2_1,
        title: '单选模式预设值',
        explain: `预设值为['2','2-77']`,
        cascader: ['2', '2-77']
      }
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
