<!--
 * @Author: Hang
 * @Date: 2020-07-14 22:16:31
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-21 15:42:44
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HFileManage/HFileManage.vue
 * @Description: 暂无描述
-->
<template>
  <section class="file-manage">
    <!-- 工具栏 -->
    <div class="file-tool">
      <h-upload
        :url="urls.upload"
        :handleParams="handleParams"
        :max-size="maxSize"
        :accept="accept"
        @success="uploadSuccess"
        @fail="uploadFail"
        ref="upload"
      >
        <el-button icon="el-icon-circle-plus-outline" size="mini" @click="showDir">新建文件夹</el-button>

        <!-- 显示类型 -->
        <el-button-group v-if="!type">
          <el-button size="mini" icon="el-icon-tickets" :disabled="disType === 1" @click="disType = 1"></el-button>
          <el-button size="mini" icon="el-icon-menu" :disabled="disType === 2" @click="disType = 2"></el-button>
        </el-button-group>
        <!-- 删除 -->
        <el-button
          v-show="fileList.find(file => file.isChecked) || Object.keys(chooseFile).length"
          icon="el-icon-delete"
          size="mini"
          @click.stop="showDel"
        ></el-button>
        <!-- 搜索框 -->
        <el-autocomplete
          size="mini"
          prefix-icon="el-icon-search"
          v-model="search"
          :fetch-suggestions="querySearch"
          placeholder="搜索文件"
          :trigger-on-focus="false"
          clearable
          :popper-append-to-body="false"
          class="file-search"
          :class="{ 'big-search': isBigSearch }"
          @select="handleSelect"
        >
          <template slot-scope="{ item }">
            <div class="file-search__item">
              <div v-show="item.file" class="logo">
                <img :src="getLogo(item, 'search')" />
              </div>
              <span class="name ellipsis" :class="{ 'no-data': !item.file }">{{ item.file || item.emptyText }}</span>
            </div>
          </template>
        </el-autocomplete>
      </h-upload>
    </div>

    <!-- 导航 -->
    <el-breadcrumb class="file-nav" separator="/">
      <el-breadcrumb-item
        v-for="(nav, i) of navList"
        :key="i"
        @click.native="clickNav(i)"
        :class="{ 'is-link': i !== navList.length - 1 }"
        >{{ nav || '根目录' }}</el-breadcrumb-item
      >
    </el-breadcrumb>

    <div
      v-loading="loading"
      :style="{ overflow: 'auto', 'max-height': `${containerHeight}px` }"
      @contextmenu.stop.prevent="showEmptyContextmenu"
      ref="filelist"
    >
      <div v-if="fileList.length">
        <!-- 文件列表 -->
        <table v-show="disType === 1" class="file-list__table">
          <tr>
            <th class="check">
              <el-checkbox v-model="allChecked" @click.native.stop @change="clickAllChecked"></el-checkbox>
            </th>
            <th>
              <div class="name">
                <div class="logo"></div>
                <span>名称</span>
              </div>
            </th>
            <th>大小</th>
            <th>更新日期</th>
          </tr>
          <tr
            v-for="(file, i) of fileList"
            :key="i"
            :class="{ 'list-choose': chooseFile.name === file.name }"
            @click.stop="clickFile(file, i)"
            @contextmenu.stop.prevent="showContextmenu($event, file)"
          >
            <td class="check">
              <el-checkbox v-model="file.isChecked" @change="clickFile(file, i)"></el-checkbox>
            </td>
            <td>
              <div class="name">
                <div class="logo">
                  <div v-if="['mp4', 'mov'].includes(file.type)" class="video-wrap">
                    <video preload="meta" class="position-center">
                      <source :src="file.url" type="video/mp4" />
                    </video>
                    <i class="iconfont icon-timeout play-icon position-center"></i>
                  </div>

                  <img v-else :src="getLogo(file)" />
                </div>
                <span>{{ file.name }}</span>
              </div>
            </td>
            <td>{{ file.size }}</td>
            <td>{{ file.date }}</td>
          </tr>
        </table>

        <!-- 文件缩略图 -->
        <ul v-show="disType === 2" class="file-list--thumb">
          <li
            v-for="(file, i) of fileList"
            :key="i"
            class="file-list__item--thumb"
            :class="{ 'thumb-choose': chooseFile.name === file.name }"
            @click.stop="clickFile(file, i)"
            @contextmenu.stop.prevent="showContextmenu($event, file)"
          >
            <div class="logo">
              <div v-if="['mp4', 'mov'].includes(file.type)">
                <video preload="meta">
                  <source :src="file.url" type="video/mp4" />
                </video>
                <i class="iconfont icon-timeout play-icon position-center"></i>
              </div>

              <img v-else :src="getLogo(file)" />
            </div>

            <h5 class="name ellipsis">{{ file.name }}</h5>
          </li>
        </ul>
      </div>

      <h-empty v-else></h-empty>
    </div>

    <!-- 右键文件菜单 -->
    <ul v-if="contextmenuShow" class="contextmenu" :style="contextmenuStyle" ref="contextMenu">
      <li class="contextmenu-item" @click.stop="contextmenuOpen">打开</li>
      <li v-show="chooseFile.type !== 'dir'" class="contextmenu-item" @click.stop="down">下载</li>
      <li class="contextmenu-item" @click.stop="showRename">重命名</li>
      <li class="contextmenu-item" @click.stop="showDel">删除</li>
    </ul>
    <!-- 右键空白菜单 -->
    <ul v-if="contextmenuEmptyShow" class="contextmenu" :style="contextmenuStyle" ref="contextEmptyMenu">
      <li class="contextmenu-item" @click="showDir">新建文件夹</li>
      <li class="contextmenu-item" @click="$refs.upload.$refs.input.click()">新建文件</li>
    </ul>
    <!-- 新建文件夹 -->
    <el-dialog title="新建文件夹" :visible.sync="dirShow" append-to-body>
      <el-form :model="dirData" :rules="dirRules" ref="dirForm" size="mini">
        <el-form-item label="名称" prop="name">
          <el-input v-model="dirData.name" placeholder="请输入名称" clearable></el-input>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dirShow = false" size="mini">取 消</el-button>
        <el-button type="primary" @click="mkDir" size="mini">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 重命名 -->
    <el-dialog title="重命名" :visible.sync="renameShow" append-to-body>
      <el-form :model="renameData" :rules="renameRules" ref="renameForm" size="mini">
        <el-form-item label="名称" prop="new_name">
          <el-input v-model="renameData.new_name" placeholder="请输入名称" clearable></el-input>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="renameShow = false" size="mini">取 消</el-button>
        <el-button type="primary" @click="rename" size="mini">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 删除，由于需要对确定按钮做stop处理，所以采用dialog -->
    <el-dialog title="提示" :visible.sync="delShow" append-to-body>
      <i class="el-icon-warning" style="color:#E6A23C;font-size: 24px;vertical-align: middle;margin-right: 10px;"></i
      >确定删除
      <span style="color:#F56C6C">{{ checkedFiles.map(file => file.name).join('，') || chooseFile.name }}</span
      >?
      <div slot="footer" class="dialog-footer">
        <el-button @click.stop="delShow = false" size="mini">取 消</el-button>
        <el-button type="primary" @click.stop="del" size="mini">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 预览照片或视频 -->
    <!-- <ln-show-img v-model="imgShow" :title="imgTitle" :src="imgSrc" :is-video="isVideo"></ln-show-img> -->
  </section>
</template>

<script>
// import lnShowImg from "@/components/ln-show-img.vue";
import HUpload from '../HUpload/HUpload';
import HEmpty from '../HEmpty/HEmpty';
import axios from 'axios';

export default {
  name: 'h-file-manage',
  components: { HUpload, HEmpty },
  props: {
    urls: {
      type: Object,
      default: () => ({
        list: '',
        search: '',
        upload: '',
        mkDir: '',
        rename: '',
        delete: '',
        down: ''
      })
    },
    accept: String,
    fileType: String,
    file: Object,
    files: Array,
    maxSize: Number,
    type: Number
  },
  data() {
    return {
      containerHeight: 200,
      path: '', //默认为根目录
      fileList: [],
      loading: false,
      disType: 2, //1:列表,2:缩略图
      //选择的文件
      chooseFile: {},
      // 勾选的文件ID
      checkedFilesId: [],
      // 是否全选
      allChecked: false,
      //右键菜单
      contextmenuShow: false,
      contextmenuEmptyShow: false,
      contextmenuPostion: {
        left: 0,
        top: 0
      },

      //新建文件夹
      dirShow: false,
      dirData: {
        name: ''
      },
      dirRules: {
        name: [{ required: true, message: '请填写该字段' }]
      },
      //重命名
      renameShow: false,
      renameData: {
        name: '',
        new_name: ''
      },
      renameRules: {
        new_name: [{ required: true, message: '请填写该字段' }]
      },
      //删除
      delShow: false,
      //预览照片
      imgShow: false,
      imgTitle: '',
      imgSrc: '',
      isVideo: false,
      // 搜索
      search: '',
      isBigSearch: false
    };
  },
  computed: {
    // 导航字符串转换成数组
    navList() {
      return this.path.split('/');
    },
    // 右键菜单样式
    contextmenuStyle() {
      return {
        left: this.contextmenuPostion.left + 'px',
        top: this.contextmenuPostion.top + 'px'
      };
    },

    //勾选的文件列表
    checkedFiles() {
      return this.checkedFilesId.map(id => this.fileList.find(file => file.id === id));
    }
  },
  watch: {
    type: {
      handler(val) {
        this.disType = val || 2;
      },
      immediate: true
    },
    // 切换显示类型时
    disType() {
      this.clearChecked();
    },
    //是否需要勾选全选
    checkedFiles(checkedFiles) {
      this.allChecked = checkedFiles.length === this.fileList.length;
      // 暴露当前选中的文件列表
      this.$emit('update:files', checkedFiles);
    },
    // 暴露当前选中的文件
    chooseFile(val) {
      this.$emit('update:file', val);
    }

    // 当改变筛选的文件类型时，需要重新加载(首次获取列表在这里获取)
    // fileType: {
    //   handler() {
    //     this.getFileList();
    //   },
    //   immediate: true
    // }
  },
  mounted() {
    this.setContainerHeight();

    this.addDocumentEvent();

    this.$nextTick(() => {
      this.getFileList();
    });
  },
  destroyed() {
    this.removeDocumentEvent();
  },
  methods: {
    //通用
    setContainerHeight() {
      if (this.$refs.filelist) {
        //必须添加nextTick,否则不出高度
        this.$nextTick(() => {
          const winHei = document.documentElement.clientHeight;
          const offsetTop = this.$refs.filelist.getBoundingClientRect().top;
          this.containerHeight = winHei - offsetTop - 20;
        });
      }
    },
    formCheck(form) {
      let pass;
      this.$refs[form].validate(valid => {
        pass = valid;
      });
      return pass;
    },
    clearCheck(form) {
      //必须使用nextTick保证在弹窗出现后执行
      this.$nextTick(() => {
        this.$refs[form].clearValidate();
      });
    },
    // -------------------------------------------业务
    //获取文件列表
    getFileList() {
      this.loading = true;
      this.init(); //每次刷新数据会初始化
      const resource_type = {
        img: 'jpg,jpeg,png,gif',
        video: 'mp4,mov'
      };
      axios({
        url: this.urls.list,
        method: 'post',
        data: { path: this.path, resource_type: resource_type[this.fileType] }
      }).then(res => {
        this.loading = false;
        if (res.data.code == 0) {
          this.fileList = res.data.data.map((file, i) => ({
            ...file,
            ...{ isChecked: false, id: i }
          }));
        } else {
          this.$message.error(res.data.msg || '');
        }
      });
    },
    // 搜索
    querySearch(queryString, cb) {
      axios({
        url: this.urls.search,
        method: 'post',
        data: { path: this.path, name: queryString }
      }).then(res => {
        const filterData = res.data.data;
        if (!filterData.length) filterData.push({ emptyText: '暂无数据' });
        cb(filterData);
      });
    },
    handleSelect(item) {
      this.path = item.path;
      this.getFileList();
    },
    //点击导航
    clickNav(i) {
      if (i === this.navList.length - 1) return; //最后一级不触发
      this.path = this.navList.slice(0, i + 1).join('/');
      this.getFileList();
    },
    //点击文件或文件夹
    clickFile(file, i) {
      this.contextmenuShow = false;
      this.contextmenuEmptyShow = false;
      if (this.disType === 1) {
        //列表单击
        this.$set(this.fileList[i], 'isChecked', !this.fileList[i].isChecked);
        // 同步到checkedFilesId
        if (this.fileList[i].isChecked) {
          this.checkedFilesId.push(file.id);
        } else {
          const i = this.checkedFilesId.indexOf(file.id);
          this.checkedFilesId.splice(i, 1);
        }
      } else {
        //缩略图单击
        if (this.chooseFile.name !== file.name) {
          this.chooseFile = file;
        } else {
          //缩略图双击
          this.open(file);
        }
      }
    },
    //打开文件或者文件夹
    open(file) {
      switch (file.type) {
        case 'dir':
          this.path = `${this.path}/${file.name}`;
          this.getFileList();
          break;
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'gif':
        case 'mp4':
        case 'mov':
          this.imgTitle = file.name;
          this.imgSrc = file.url;
          this.imgShow = true;
          this.isVideo = ['mp4', 'mov'].includes(file.type);
          break;
        default:
          break;
      }
    },
    //根据类型获取图标
    getLogo(file, type) {
      switch (file.type) {
        case 'dir':
          return require('./img/dir.png');

        case 'txt':
          return require('./img/txt.png');

        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'gif':
          return file.url;

        case 'mp4':
        case 'mov':
          return type === 'search' ? require('./img/video.png') : file.url;

        default:
          return require('./img/file.png');
      }
    },
    //点击空白,隐藏右键菜单，取消缩略图选中
    addDocumentEvent() {
      document.addEventListener('click', this.clickDocument);
    },
    removeDocumentEvent() {
      document.removeEventListener('click', this.clickDocument);
    },
    //点击空白事件
    clickDocument(e) {
      this.init();
      e.stopPropagation();
    },

    //初始化设置
    init() {
      this.contextmenuShow = false;
      this.contextmenuEmptyShow = false;
      this.chooseFile = {};
    },
    //点击全选
    clickAllChecked() {
      this.allChecked ? this.setAllChecked() : this.clearChecked();
    },
    //清空列表选中数据
    clearChecked() {
      this.fileList.forEach(file => {
        file.isChecked = false;
      });
      this.checkedFilesId = [];
    },
    //全选列表选中数据
    setAllChecked() {
      this.fileList.forEach(file => {
        file.isChecked = true;
      });
      this.checkedFilesId = this.fileList.map(file => file.id);
    },
    //右键时显示菜单
    showContextmenu(e, file) {
      this.contextmenuEmptyShow = false; //关闭右键空白时菜单
      this.chooseFile = file;
      this.contextmenuShow = true;
      this.$nextTick(() => {
        this.contextmenuPostion = this.getPosition(e, this.$refs.contextMenu);
      });
    },
    //右键空白时显示菜单
    showEmptyContextmenu(e) {
      this.contextmenuShow = false; //关闭右键文件时菜单
      this.chooseFile = {}; //清空选中文件
      this.contextmenuEmptyShow = true;
      this.$nextTick(() => {
        this.contextmenuPostion = this.getPosition(e, this.$refs.contextEmptyMenu);
      });
    },
    // 获取位置
    getPosition(e, dom = {}) {
      const x = e.pageX;
      const y = e.pageY;
      const viewWid = document.documentElement.clientWidth;
      const viewHei = document.documentElement.clientHeight;
      const domWid = dom.offsetWidth;
      const domHei = dom.offsetHeight;
      const distanceX = x + domWid - viewWid;
      const distanceY = y + domHei - viewHei;
      const position = {
        left: distanceX > 0 ? x - domWid : x,
        top: distanceY > 0 ? y - domHei : y
      };
      return position;
    },
    //打开
    contextmenuOpen() {
      this.open(this.chooseFile);
    },
    //下载
    down() {
      // 自己接口写法
      window.open(this.urls.down);
      this.init();

      // 原本接口写法
      // const path = `${this.path}/${this.chooseFile.name}`;
      // const resUrl = `${this.urls.down}?path=${path}`;
      // window.open(resUrl);
      // this.init();
    },
    //删除
    showDel() {
      this.delShow = true;
      this.contextmenuShow = false;
    },
    del() {
      const delList = this.checkedFiles.map(file => file.name);
      const delOne = [this.chooseFile.name];
      axios({
        url: this.urls.delete,
        method: 'post',
        data: {
          path: this.path,
          name: (delList.length && delList) || delOne
        },
        headers: { 'content-type': 'application/json;charset=utf-8' }
      }).then(res => {
        this.$message.success(res.data.msg);

        if (res.data.code == 0) {
          this.delShow = false;
          this.checkedFilesId = [];
          this.getFileList();
        }
      });
    },
    //新建文件夹
    showDir() {
      this.dirShow = true;
      this.clearDirData();
      this.clearCheck('dirForm');
    },
    clearDirData() {
      this.dirData.name = '';
    },
    mkDir() {
      if (!this.formCheck('dirForm')) return;
      axios({
        url: this.urls.mkDir,
        method: 'post',
        data: { path: this.path, name: this.dirData.name }
      }).then(res => {
        this.$message.success(res.data.msg);
        if (res.data.code == 0) {
          this.dirShow = false;
          this.getFileList();
        }
      });
    },
    //重命名
    showRename() {
      this.renameShow = true;
      this.setRenameData();
      this.clearCheck('renameForm');
      this.init();
    },
    setRenameData() {
      this.renameData.name = this.chooseFile.name;
      this.renameData.new_name = this.chooseFile.name;
    },
    rename() {
      if (!this.formCheck('renameForm')) return;
      axios({
        url: this.urls.rename,
        method: 'post',
        data: {
          path: this.path,
          name: this.renameData.name,
          new_name: this.renameData.new_name
        }
      }).then(res => {
        this.$message.success(res.data.msg);
        if (res.data.code == 0) {
          this.renameShow = false;
          this.getFileList();
        }
      });
    },
    //上传参数
    handleParams(params) {
      params.path = this.path;
    },
    //上传事件
    uploadSuccess({ file, files }) {
      if (files.every(file => file.status === 'success')) {
        this.$message.success('文件上传成功');
        this.getFileList();
      }
    },
    uploadFail({ file, files }) {
      this.$message.error(`${file.fileName}文件上传失败，请检查`, 'success');
    }
  }
};
</script>

<style lang="scss">
@import '@assets/css/var';
$hover-bg-color: #ebeef5;
$border-color: #dcdfe6;
//右键菜单
.contextmenu {
  position: fixed;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 3px;
  box-shadow: 0 2px 2px #aaa;
  padding: 5px 0;
  font-size: 12px;
  cursor: pointer;
  .contextmenu-item {
    min-width: 130px;
    padding: 6px 15px;
    &:hover {
      background-color: $hover-bg-color;
    }
  }
}
//缩略图选中状态
.thumb-choose {
  .logo {
    background-color: $hover-bg-color;
  }
  .name {
    color: $theme-color;
  }
}
//列表选中状态(暂时没用到)
.list-choose {
  background-color: $hover-bg-color;
}

// 搜索

.file-search {
  position: absolute !important;
  right: 20px;
  width: 32%;
  transition: width 0.3s;

  &.big-search {
    width: 500px;
    // 否则第二次之后会恢复原先宽度
    .el-autocomplete-suggestion {
      width: 500px !important;
    }
  }
  .file-search__item {
    .logo {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      display: inline-block;
      vertical-align: -5px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .no-data {
      display: block;
      pointer-events: none;
      text-align: center;
      color: #c0c4cc;
    }
  }
  // 修改loading成文字高度
  .el-autocomplete-suggestion.is-loading li {
    height: 34px;
    line-height: 34px;
  }
}

//主体
.file-manage {
  position: relative;
  overflow: hidden;

  // 工具栏
  .file-tool {
    margin-bottom: 20px;
  }

  // 面包屑导航
  .file-nav {
    .is-link {
      font-weight: bold;
      cursor: pointer;
      &:hover {
        .el-breadcrumb__inner {
          color: $theme-color;
        }
      }
    }
  }

  // 列表
  .file-list__table {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
    tr {
      border-bottom: 1px solid $border-color;
      & + tr:hover {
        background-color: $hover-bg-color;
      }
    }
    th,
    td {
      padding: 8px 0;
    }
    th {
      text-align: left;
      font-size: 13px;
      font-weight: normal;
      color: #9c9c9c;
    }
    .check {
      width: 30px;
      text-align: center;
    }
    .name {
      display: flex;
      align-items: center;
      .logo {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        img,
        video {
          width: 100%;
          height: 100%;
        }
        .video-wrap {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 100%;
          .play-icon {
            font-size: 25px;
            color: whitesmoke;
          }
        }
      }
    }
  }
  // 缩略图
  .file-list--thumb {
    width: 100%;
    float: left;
    .file-list__item--thumb {
      display: inline-block;
      text-align: center;
      margin: 10px;
      width: 100px;
      cursor: pointer;
      &:hover {
        .logo {
          background-color: $hover-bg-color;
        }
        .name {
          color: $theme-color;
        }
      }
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        position: relative;
        img,
        video {
          max-width: 100%;
          max-height: 100%;
        }
        .play-icon {
          font-size: 35px;
          color: whitesmoke;
        }
      }
    }
  }
}
</style>
