<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 11:48:06
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/timeRange/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-time-range">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code">
      <template #display>
        <h-time-range v-model="timeRange"></h-time-range>
      </template>
    </h-demo>
    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-time-range',
  data() {
    return {
      options,
      code,
      timeRange: '',
      test1: {
        title: '基础使用',
        explain: '一个星期内以半小时为单位的可拖动选取，v-model绑定数据为48个数字0或1',
        code: code.test1
      }
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
