<template>
  <div class="h-checkbox-group-wrap">
    <el-row class="row">
      <el-input
        size="mini"
        :placeholder="placeholder"
        prefix-icon="el-icon-search"
        v-model.lazy="search"
        class="search"
        clearable
      ></el-input>
      <!-- 现在的全选是不管搜索，选中所有值 -->
      <div v-show="searchedData.length" class="h-checkbox-all">
        <h-checkbox @click.prevent="clickAllChecked" ref="allCheckbox">全选 </h-checkbox>
      </div>
    </el-row>

    <div
      v-show="searchedData.length"
      class="h-checkbox-group"
      :class="{ 'has-cols': cols }"
      :style="chekcboxGroupStyle"
      @click.prevent="handleClick"
      @scroll="handleScroll"
      ref="checkboxGroup"
    >
      <h-checkbox
        v-for="({ id, name }, i) of viewData"
        :key="`${i}-${id}`"
        :style="checkboxStyle"
        :value="id"
        :title="name"
        ref="checkbox"
        >{{ name }}</h-checkbox
      >
    </div>

    <h-empty v-show="!searchedData.length" icon :is-border="false"></h-empty>
  </div>
</template>

<script>
import HCheckbox from './HCheckbox';
import HEmpty from '../HEmpty/HEmpty';
import { getUniqArray } from '@utils/common';
export default {
  name: 'h-checkbox-group',
  components: { HCheckbox, HEmpty },
  props: {
    data: {
      type: Array,
      default: () => []
    },
    cols: Number,
    value: {
      type: Array,
      default: () => []
    },
    placeholder: {
      type: String,
      default: '请输入搜索内容'
    },
    // 全选时是否只全选筛选
    allCheckJustFilter: {
      type: Boolean,
      default: true
    },
    height: {
      type: [Number, String]
    }
  },
  data() {
    return {
      search: '',
      checkeds: [],
      viewData: [],
      viewNums: 0,
      start: 0,
      currentViewNums: 0,
      currentViewHeight: 0,
      prevScrollTop: 0
    };
  },
  computed: {
    // 全选值
    allValues() {
      return this.data.map(item => `${item.id}`);
    },
    // 筛选时的全选值
    allFilterValues() {
      return this.searchedData.map(item => `${item.id}`);
    },
    // 搜索后的数据，搜索值为空显示全部数据
    searchedData() {
      const { search, data } = this;
      return search ? data.filter(item => item.name.includes(search)) : data;
    },

    checkboxStyle() {
      return this.cols ? { width: `${100 / this.cols}%` } : {};
    },
    chekcboxGroupStyle() {
      const maxHeight = typeof this.height === 'number' ? `${this.height}px` : this.height;
      return this.height ? { maxHeight } : {};
    }
  },
  watch: {
    value: {
      handler(value) {
        this.checkeds = value;
      },
      immediate: true
    },
    checkeds(value) {
      this.$emit('input', value);
      this.setCheckeds();
      /* 不能在这里setIsAllChecked，会死循环 */
    },
    // 通过监听checkeds的长度来勾选全选
    'checkeds.length'() {
      this.setIsAllChecked();
    },
    //
    // 搜索值改变后，需要重新设置DOM元素
    search() {
      this.setViewData();
    }
  },
  // 预设值
  mounted() {
    this.setViewNums();
    this.setViewData();
  },
  methods: {
    // 计算窗口显示的checkbox（初次加载时执行）
    setViewNums() {
      const groupEl = this.$refs.checkboxGroup;
      const { maxHeight } = getComputedStyle(groupEl);
      const viewHeight = +maxHeight.slice(0, -2);
      const scrollHeight = groupEl.scrollHeight;
      // 显示的高度，4倍height
      const allViewHeight = viewHeight * 4;
      // 每行checkbox是30高度
      const LINE_HEIGHT = 30;
      // 显示的总行数
      const allViewLines = Math.round(allViewHeight / LINE_HEIGHT);
      // 显示的数量
      const viewNums = allViewLines * this.cols;
      // 当前显示VIEW的行数
      const currentViewLines = Math.round(viewHeight / LINE_HEIGHT);
      // 当前显示VIEW的数量
      const currentViewNums = currentViewLines * this.cols;
      // 设置后续需要用到的参数
      this.viewNums = viewNums;
      this.currentViewNums = currentViewNums;
      this.currentViewHeight = currentViewLines * LINE_HEIGHT;
    },
    // 设置viewData后，需要设置DOM
    async setViewData(start = 0, end = this.viewNums) {
      this.viewData = this.searchedData.slice(start, end);
      await this.setCheckeds();
      this.setIsAllChecked();
    },
    // 通过改变数据触发版本
    handleClick(e) {
      const checkboxWrap = this.getCheckbox(e.target);
      if (checkboxWrap) {
        const initCheckbox = checkboxWrap.querySelector('.dom-checkbox__init');
        const id = initCheckbox.value;
        this.setCheckedItem(id);
      }
    },
    handleScroll(e) {
      const el = e.currentTarget;
      const scrollHeight = el.scrollHeight;
      const scrollTop = el.scrollTop;
      // 加载新的数据，移除老的数据
      const aspect = scrollTop >= this.prevScrollTop ? 'down' : 'up';
      let loadHeight, start, end;
      if (aspect === 'down') {
        loadHeight = this.currentViewHeight * 2;
        // 向下滚动
        if (scrollTop >= loadHeight) {
          el.scrollTop = scrollTop - this.currentViewHeight;
          start = this.start += this.currentViewNums;
          end = start + this.viewNums;
          this.setViewData(start, end);
        }
      } else {
        // 向上滚动
        loadHeight = this.currentViewHeight;

        if (scrollTop <= loadHeight) {
          if (this.start > 0) {
            el.scrollTop = scrollTop + this.currentViewHeight;
            start = this.start -= this.currentViewNums;
            end = start + this.viewNums;
            this.setViewData(Math.max(0, start), end);
          }
        }
      }
      this.prevScrollTop = scrollTop;
    },
    getCheckbox(currentDom) {
      if (currentDom.classList.contains('h-checkbox')) {
        return currentDom;
      } else if (currentDom.tagName === 'HTML') {
        return false;
      } else {
        return this.getCheckbox(currentDom.parentElement);
      }
    },
    setCheckeds() {
      return this.$nextTick().then(() => {
        for (const checkbox of this.$refs.checkbox || []) {
          const checkboxEl = checkbox.$refs.input;
          const id = checkboxEl.value;
          const isChecked = this.checkeds.includes(id);
          checkbox.isChecked = isChecked;
          checkboxEl.checked = isChecked;
        }
      });
    },
    setCheckedItem(value) {
      const index = this.checkeds.findIndex(item => item === value);
      if (index === -1) {
        this.checkeds.push(value);
      } else {
        this.checkeds.splice(index, 1);
      }
    },
    // 全选相关---------
    // 点击全选
    clickAllChecked() {
      const allCheckbox = this.$refs.allCheckbox;
      const isAllChecked = allCheckbox.isChecked;
      this.setAllChecked(!isAllChecked, true);
    },
    // 设置全选本身，不设置选项
    setIsAllChecked() {
      let isAllChecked;
      if (this.allCheckJustFilter) {
        // 全选筛选
        isAllChecked = this.allFilterValues.every(item => this.checkeds.includes(item));
      } else {
        // 全选所有
        isAllChecked = this.checkeds.length === this.allValues.length;
      }
      this.setAllChecked(isAllChecked);
    },
    // 根据全选设置选项
    setAllChecked(isAllChecked, isChangeChecked = false) {
      const allCheckbox = this.$refs.allCheckbox;
      const inputEl = allCheckbox.$refs.input;

      allCheckbox.isChecked = isAllChecked;
      inputEl.checked = isAllChecked;

      if (!isChangeChecked) return;

      if (this.allCheckJustFilter) {
        // 只全选筛选
        if (isAllChecked) {
          // 数组去重
          this.checkeds = getUniqArray([...this.checkeds, ...this.allFilterValues]);
        } else {
          let needRemoveValues = this.searchedData.map(item => `${item.id}`);
          let resultCheckeds = [...this.checkeds];
          for (const value of needRemoveValues) {
            const index = resultCheckeds.indexOf(value);
            if (index > -1) {
              resultCheckeds.splice(index, 1);
            }
          }
          this.checkeds = resultCheckeds;
        }
      } else {
        // 全选所有
        if (isAllChecked) {
          this.checkeds = [...this.allValues];
        } else {
          this.checkeds = [];
        }
      }
    }
  }
};
</script>
<style lang="scss">
/* @import url() */
.h-checkbox-group-wrap {
  font-size: 14px;
  .row {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(230, 235, 245);
    .search {
      width: 200px;
      margin-right: 10px;
    }

    .h-checkbox-all {
      display: inline-block;
    }
  }

  .h-checkbox-group {
    display: inline-block;
    overflow: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(230, 235, 245);
    &.has-cols {
      display: block;
      .h-checkbox {
        .checkbox-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 25px);
          display: inline-block;
        }
      }
    }
    .h-checkbox {
      padding-right: 10px;
    }
  }
}
</style>
