<template>
  <label
    class="h-checkbox"
    :class="{ 'is-checked': isChecked, 'is-animate': animate }"
    :title="title"
    v-on="$listeners"
  >
    <div class="checkbox-wrap">
      <input
        class="dom-checkbox__init"
        type="checkbox"
        v-bind="$attrs"
        :value="value"
        ref="input"
      />
      <div class="dom-checkbox__display">
        <span class="hook"></span>
      </div>
    </div>
    <span class="checkbox-title">
      <slot></slot>
    </span>
  </label>
</template>

<script>
export default {
  name: "h-checkbox",
  inheritAttrs: false,
  props: {
    // name: {
    //   type: String,
    //   required: true,
    // },
    value: {
      default: false,
    },
    title: String,
    animate: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isChecked: false,
    };
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>
<style lang="scss">
/* @import url() */
$checkboxSize: 16px;
$lineHeight: 30px;
$themeColor: #1890ff;
$fontColor: rgba(0, 0, 0, 0.65);
$animateTime: 0.3s;
.h-checkbox {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  user-select: none;
  &.is-checked {
    .checkbox-wrap {
      position: relative;
      &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $themeColor;
        border-radius: 2px;
        // animation: scaleAnimate $animateTime;
      }
      .dom-checkbox__display {
        background-color: $themeColor;
        border-color: $themeColor;

        .hook {
          transform: scale(1) rotate(-45deg);
        }
      }
    }
  }
  &.is-animate {
    .checkbox-wrap {
      &::after {
        animation: scaleAnimate $animateTime;
      }
    }
    .dom-checkbox__display {
      transition: border $animateTime, background $animateTime;
      .hook {
        transition: all $animateTime;
      }
    }
  }
  .checkbox-wrap {
    position: relative;
    display: inline-block;
    width: $checkboxSize;
    height: $checkboxSize;
    line-height: $lineHeight;
    vertical-align: middle;

    > * {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .dom-checkbox__display {
      display: inline-block;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      // transition: border $animateTime, background $animateTime;
      .hook {
        // transition: all $animateTime;
        position: absolute;
        left: 2px;
        top: 3px;
        width: 10px;
        height: 5px;
        transform: scale(0) rotate(-45deg);
        border: 1px solid white;
        border-right: none;
        border-top: none;
      }
    }
    .dom-checkbox__init {
      opacity: 0;
      cursor: pointer;
    }
  }
  .checkbox-title {
    line-height: $lineHeight;
    vertical-align: middle;
    color: $fontColor;
  }
}
@keyframes scaleAnimate {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
</style>
