<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 11:46:37
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/form/index.vue
 * @Description: 表单演示
-->

<template>
  <div class="d-form">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-form :data="formData2" v-model="params2" :cols="3"> </h-form>
      </template>
      <template #help>
        通过传入<code>cols</code>设置列数
      </template>
    </h-demo>

    <h-demo :title="test2.title" :explain="test2.explain" :code="test2.code" :help="test2.help">
      <template #display>
        <h-form :data="formData1" v-model="params1" inline> </h-form>
      </template>
      <template #help>
        通过传入<code>inline</code>设置
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-form',
  data() {
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain: '传入需要渲染的表单数据，并绑定v-model即可',
        code: code.test1,
        help: '可通过'
      },
      test2: {
        title: '行内表单',
        explain: 'inline-block的布局，比如筛选框的时候使用',
        code: code.test2,
        help: ''
      },
      test: '',
      formData1: [
        {
          key: 'test1',
          title: '测试1'
        },
        {
          key: 'test2',
          title: '测试2',
          type: 'select',
          options: [
            {
              key: '1',
              title: '选项一'
            },
            {
              key: '2',
              title: '选项二'
            }
          ]
        },
        {
          key: 'test3',
          title: '测试3',
          type: 'date'
        },
        {
          key: 'test4',
          title: '测试4',
          type: 'date',
          type2: 'daterange'
        }
      ],
      params1: {},

      formData2: [
        {
          key: 'test1',
          title: '测试1'
        },
        {
          key: 'test2',
          title: '测试2',
          type: 'select',
          options: [
            {
              key: '1',
              title: '选项一'
            },
            {
              key: '2',
              title: '选项二'
            }
          ]
        },
        {
          key: 'test3',
          title: '测试3',
          type: 'date'
        },
        {
          key: 'test4',
          title: '测试4',
          type: 'checkbox',
          options: [
            {
              key: '1',
              title: '选项一'
            },
            {
              key: '2',
              title: '选项二'
            }
          ]
        },
        {
          key: 'test5',
          title: '测试5',
          type: 'radio',
          options: [
            {
              key: '1',
              title: '选项一'
            },
            {
              key: '2',
              title: '选项二'
            }
          ]
        },
        {
          key: 'test6',
          title: '测试6',
          type: 'date',
          type2: 'daterange'
        }
      ],
      params2: {}
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
