<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 17:01:58
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/contents/index.vue
 * @Description: 表单演示
-->

<template>
  <div class="d-content">
    <content-title :title="test1.title"></content-title>
    <p class="h-explain">{{ test1.explain }}</p>
    <h-hight-light :code="test1.code" min-height="auto"></h-hight-light>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';
export default {
  name: 'd-content',
  data() {
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain:
          '目录组件，由滚动内容+目录组成，需要成为标题的元素设置属性h-content="标题内容"即可。例如该页面便使用了目录组件，代码如下：',
        code: code.test1
      }
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
