<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 14:00:11
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/modal/index.vue
 * @Description: 模态框演示
-->

<template>
  <div class="d-modal">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <el-button type="primary" @click="show = true">模态框</el-button>
        <h-modal
          v-model="show"
          :form="form"
          :params.sync="formParams"
          :handleParams="handleParams"
          submit-url="/local/operate"
        ></h-modal>
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-modal',
  data() {
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain: '基于动态表单的模态框，并封装了验证和loading等功能',
        code: code.test1,
        help: ''
      },
      show: false,
      form: [
        {
          key: 'test1',
          title: '测试1',
          rules: [{ required: true }]
        },
        {
          key: 'test2',
          title: '测试2',
          type: 'select',
          options: [
            {
              key: '1',
              title: '选项一'
            },
            {
              key: '2',
              title: '选项二'
            }
          ]
        },
        {
          key: 'test3',
          title: '测试3',
          type: 'date'
        },
        {
          key: 'test4',
          title: '测试4',
          type: 'checkbox',
          options: [
            {
              key: '1',
              title: '选项一'
            },
            {
              key: '2',
              title: '选项二'
            }
          ]
        },
        {
          key: 'test5',
          title: '测试5',
          type: 'radio',
          options: [
            {
              key: '1',
              title: '选项一'
            },
            {
              key: '2',
              title: '选项二'
            }
          ]
        },
        {
          key: 'test6',
          title: '测试6',
          type: 'date',
          type2: 'daterange'
        }
      ],
      formParams: {}
    };
  },
  created() {},
  mounted() {},
  methods: {
    handleParams(params) {
      params.test1 = 1;
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
