<!--
 * @Author: Hang
 * @Date: 2020-07-22 17:17:17
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-22 19:45:18
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HExport/HExport.vue
 * @Description: 暂无描述
-->
<template>
  <el-button type="primary" icon="el-icon-download" :size="size" @click="handleClick">{{ text }}</el-button>
</template>

<script>
import FileSaver from 'file-saver';
export default {
  name: 'h-export',
  props: {
    url: {
      // 后端导出接口，不传的话默认前端导出
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: 'small'
    },
    text: {
      type: String,
      default: '导出'
    },
    name: {
      type: String,
      default: () => `${new Date().valueOf()}`
    },
    data: {
      type: String,
      default: ''
    },
    getExportData: {
      type: Function
    }
  },
  methods: {
    handleClick() {
      this.url ? this.backExport() : this.frontExport();
    },
    backExport() {
      this.iframeDownload(this.url);
    },
    // 前端导出获取导出数据
    frontExport() {
      const exportStr = typeof this.getExportData === 'function' ? this.getExportData(this) : this.data;
      //前台导出
      //解决excel打开中文乱码问题--加bom头(此方案不兼容excel2007部分版本)
      // let blob = new Blob([this.json2csv()], {
      //   type: "text/plain;charset=utf-8"
      // });
      // FileSaver.saveAs(blob, `${new Date().valueOf()}.csv`);

      //解决excel打开中文乱码问题--将utf-8转换为gbk后再导出,此方案需引入插件进行转换，在Index.html里引入(此方案不能显示非中英文)
      let uint8array = new TextEncoder('gbk', {
        NONSTANDARD_allowLegacyEncoding: true
      }).encode(exportStr);
      let blob = new Blob([uint8array], {
        type: 'text/plain'
      });
      FileSaver.saveAs(blob, `${this.name}.csv`);
    },
    // 后端导出通过iframe下载
    iframeDownload(url) {
      var iframe = document.createElement('iframe');

      iframe.style.display = 'none';
      iframe.src = url;

      document.body.appendChild(iframe);

      //文件下载不支持onload事件，使用计时器清除iframe
      setTimeout(() => {
        document.body.removeChild(iframe);
      }, 10000);
    }
  }
};
</script>
<style lang="scss">
// @import 'url';
.h-export {
  display: inline-block;
}
</style>
