<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:35:43
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-14 14:14:35
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/layouts/EmptyRouterView.vue
 * @Description: 
  使用场景：三级children显示二级router-view时使用
-->
<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: "EmptyRouterView",
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>
<style lang="scss">
/* @import url() */
</style>
