<!--
 * @Author: Hang
 * @Date: 2020-07-14 10:12:38
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-14 11:28:31
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HDivider/HDivider.vue
 * @Description: 暂无描述
-->

<template>
  <div class="h-divider"></div>
</template>

<script>
export default {
  name: "h-divider",
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>
<style lang="scss">
@import "@assets/css/var.scss";
.h-divider {
  width: 100%;
  border-bottom: 1px solid $border-color;
}
</style>
