<!--
 * @Author: Hang
 * @Date: 2020-07-18 10:07:22
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-26 13:52:32
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HCascader/radio/Cascader.vue
 * @Description: 暂无描述
-->
<template>
  <div class="h-cascader">
    <radio-cascader-item
      v-for="({ parent, list }, i) of cascaders"
      :key="parent"
      :parent="parent"
      :layer="i"
      :data="list"
      v-model="currentValue[i]"
      @one-change="oneChange"
      @pop-child="popChild"
      ref="cascaderItem"
    ></radio-cascader-item>
    <radio-cascader-result
      v-if="value.some(item => item || item === 0)"
      :path-key-obj="pathKeyObj"
      :values="value"
      @close="close"
      @close-all="closeAll"
    ></radio-cascader-result>
  </div>
</template>

<script>
import RadioCascaderItem from './CascaderItem';
import RadioCascaderResult from './CascaderResult';
import { getUniqArray, deepCopy } from '@utils/common';
export default {
  name: 'radio-cascader',
  components: { RadioCascaderItem, RadioCascaderResult },
  props: {
    data: {
      type: Array,
      default: () => []
      /*
        格式：
        [{
          key:'',
          title:'',
          children:[{
            key:'',
            title:''
          }]
        }]
      */
    },
    value: {
      type: Array,
      default: () => []
      /*
        '2-88'表示路径，这样能保证值的唯一性(进入组件之后的key值全部为path)
        ['2','88']
      */
    }
  },
  data() {
    return {
      // 增加parent/path/layer后的数据
      currentData: [],
      // 将currentData转成以path为key的对象
      pathKeyObj: {},
      // 显示级联的数据结构
      cascaders: [],
      // 核心：串连cascader=>item=>results的key值
      currentValue: []
    };
  },
  watch: {
    value: {
      handler(val) {
        // if (JSON.stringify(val) === JSON.stringify(oldVal)) return;
        if (!this.HAS_SETDATA) {
          this.setData();
          this.HAS_SETDATA = true;
        }
        // 设置currentValue
        this.currentValue = val;
      },
      immediate: true
    },
    currentValue(val) {
      // 抛出值
      this.$emit('input', val);
    }
  },
  methods: {
    // 设置数据，初始时设置一次
    setData() {
      this.setCurrentData();
      this.setInitCascaders();
    },
    // 对cascaders数据增加parent和layer，以便后续处理
    setCurrentData() {
      let currentData = [];
      let pathKeyObj = {};
      const helper = (arr, parent = 0, path = []) => {
        for (const item of arr) {
          // 只需保证每个children里面的key不唯一，path便是唯一的， data便可以转成以path为key的对象进行快速取值，
          const currentPath = [...path, item.key];
          const currentPathStr = currentPath.join('-');
          item.parent = parent;
          item.path = currentPathStr;
          item.layer = path.length;
          // 是否勾选
          item.checked = false;

          // 设置以path为key的对象
          pathKeyObj[currentPathStr] = item;

          if (item.children) {
            helper(item.children, item.key, currentPath);
          }
        }
        return arr;
      };

      currentData = helper(this.data);

      this.currentData = currentData;
      this.pathKeyObj = pathKeyObj;
    },
    // 设置初始级联显示数据
    setInitCascaders() {
      this.cascaders = [
        {
          parent: 0,
          list: this.currentData
        }
      ];
    },
    // 增加值
    addValues(arr, addValues) {
      for (const addValue of addValues) {
        const hasExist = arr.includes(addValue);
        if (!hasExist) arr.push(addValue);
      }
    },
    // 删除值(传了deep:如果有值有children，会递归删除相应的children值)
    delValues(arr = [], delValues) {
      for (const delValue of delValues) {
        const index = arr.indexOf(delValue);
        if (index > -1) arr.splice(index, 1);
      }
    },
    // 单个值触发单选
    oneChange({ value, item, layer, parent }) {
      // 值一样时不触发
      if (value === this.currentValue[layer]) return;
      this.currentValue = this.currentValue.slice(0, layer + 1);
    },
    // 弹出子级事件
    popChild(item, layer, parent) {
      const childCascader = { parent: item.path, list: item.children };
      let cascaders = this.cascaders;

      if (!item.children) {
        // 没有子级时
        this.cascaders = this.cascaders.slice(0, layer + 1);
      } else if (layer + 1 === cascaders.length - 1 && cascaders[layer + 1].parent === childCascader.parent) {
        // 当前点击项右边只有一个子级且刚好是需要弹出的子级，收回来
        this.cascaders.splice(layer + 1, 1);
      } else {
        const keepCascaders = cascaders.slice(0, layer + 1);
        keepCascaders.push(childCascader);
        this.cascaders = keepCascaders;
      }
    },
    // 清除单个
    close(item, i) {},
    // 清除所有
    closeAll() {
      this.currentValue = [''];
      this.setInitCascaders();
    }
  }
};
</script>
<style lang="scss">
// @import 'url';
</style>
