<!--
 * @Author: Hang
 * @Date: 2020-07-18 10:11:53
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-26 13:38:43
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HCascader/radio/CascaderItem.vue
 * @Description: 暂无描述
-->
<template>
  <div class="more-cascader-item" :style="style">
    <div class="header">{{ title }}</div>

    <ul class="body">
      <li class="item" v-for="item of data" :key="item.path">
        <label class="item-left">
          <input
            v-model="currentValue"
            :value="item.path"
            @change="oneChange($event, item)"
            class="item-input"
            type="radio"
          />
          <span class="item-radio"></span>
        </label>

        <span class="item-right" @click="clickText(item)">
          <span class="item-text" :title="item.title">{{ item.title }}</span>
          <i v-if="hasChildren(item)" class="el-icon-arrow-right item-icon"></i>
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
import { getPx } from '@utils/common';
export default {
  name: 'radio-cascader-item',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    // 当前级联的层级
    layer: {
      type: Number,
      default: 0
    },
    // 父级key
    parent: {
      type: [Number, String],
      default: 0
    },
    value: {
      type: [Number, String],
      default: ''
    },
    title: {
      type: String,
      default: '标题'
    },
    width: {
      type: [String, Number],
      default: 200
    },
    height: {
      type: [String, Number],
      default: 300
    }
  },
  data() {
    return {
      currentValue: ''
    };
  },
  computed: {
    style() {
      let style = {
        width: getPx(this.width),
        height: getPx(this.height)
      };
      return style;
    }
  },
  watch: {
    value: {
      handler(val) {
        this.currentValue = val;
      },
      immediate: true
    },
    currentValue(val) {
      this.$emit('input', val, this.layer, this.parent);
    }
  },

  methods: {
    // 是否有子级
    hasChildren(item) {
      return item && item.children && item.children.length;
    },
    // 有子级的情况下，点击弹出子级，而不是勾选
    clickText(item) {
      this.currentValue = item.path;
      this.emitOneChange(item);
      this.popChild(item);
    },
    emitOneChange(item) {
      this.$emit('one-change', { value: item.path, item, layer: this.layer, parent: this.parent });
    },
    oneChange(e, item) {
      this.emitOneChange(item);
    },
    // 弹出子级
    popChild(item) {
      // 弹出子级需要的数据
      this.$emit('pop-child', item, this.layer, this.parent);
    }
  }
};
</script>

<style lang="scss">
@import '@assets/css/var';
@import '@assets/css/mixin';
$border-color: rgb(235, 238, 245);
.more-cascader-item {
  .body {
    .item {
      .item-left {
        .item-input {
          & + .item-radio {
            position: relative;
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-right: 10px;
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              border: 1px solid $border-color;
              border-radius: 50%;
              transition: background-color 0.2s;
            }
            &:after {
              content: '';
              position: absolute;
              top: 6px;
              left: 6px;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: white;
              transform: scale(0);
              transition: transform 0.3s;
            }
          }

          &:checked + .item-radio:before {
            background-color: $theme-color;
          }

          &:checked + .item-radio:after {
            transform: scale(1);
          }
        }
      }
    }
  }
}
</style>
