<!--
 * @Author: Hang
 * @Date: 2020-07-26 11:29:15
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-26 13:51:44
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HCascader/radio/CascaderResult.vue
 * @Description: 暂无描述
-->
<template>
  <div class="more-cascader-item" :style="style">
    <div class="header">
      已选
      <span @click="closeAll" class="clear-btn">清空全部</span>
    </div>
    <ul class="body">
      <li class="item item-result" v-for="(item, i) of items" :key="i">
        <span class="item-result-text" :title="item">{{ item.title }}</span>
        <!-- <span class="item-result-close" @click="close(item, i)">
          <i class="el-icon-close"></i>
        </span> -->
      </li>
    </ul>
  </div>
</template>

<script>
import { getPx } from '@utils/common';
export default {
  name: 'radio-cascader-result',
  props: {
    pathKeyObj: {
      type: Object,
      default: () => ({})
    },
    // 一共多少层
    layers: {
      type: Number,
      default: 0
    },
    values: {
      type: Array,
      default: () => []
    },
    width: {
      type: [String, Number],
      default: 200
    },
    height: {
      type: [String, Number],
      default: 300
    }
  },
  computed: {
    style() {
      let style = {
        width: getPx(this.width),
        height: getPx(this.height)
      };
      return style;
    },
    items() {
      return this.getItems(this.values);
    }
  },

  methods: {
    // 将value转成item
    getItem(value) {
      return this.pathKeyObj[value];
    },
    // 将values转成items
    getItems(values) {
      return values.filter(value => value || value === 0).map(value => this.pathKeyObj[value]);
    },
    // 抛出事件，而不是通过v-model，设计考虑
    close(item, i) {
      this.$emit('close', item);
    },
    // 抛出事件，而不是通过v-model，设计考虑
    closeAll() {
      this.$emit('close-all');
    }
  }
};
</script>
