<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 12:19:38
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/hideScroll/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-hide-scroll">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-hide-scroll :max-height="300">
          <div class="test"></div>
        </h-hide-scroll>
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-hide-scroll',
  data() {
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain: '元素必须是可滚动元素：即子元素的高度大于元素的高度，并且元素的overflow必须是auto或者scroll',
        code: code.test1,
        help: ''
      }
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
.test {
  height: 1000px;
  background: indianred;
}
</style>
