<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-16 12:45:06
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/catalog/index.vue
 * @Description: 表单演示
-->

<template>
  <div class="d-catalog">
    <h-cata-log></h-cata-log>
    <h-hight-light :code="code.catalog"></h-hight-light>
  </div>
</template>

<script>
import code from './code';
export default {
  name: 'd-catalog',
  data() {
    code;
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
