<template>
  <div class="time-range">
    <div class="time-range__table">
      <table class="normal-table">
        <tr>
          <th rowspan="2" style="width:60px">星期/时间</th>
          <th colspan="24">00:00-12:00</th>
          <th colspan="24">12:00-24:00</th>
        </tr>
        <tr>
          <td colspan="2" v-for="i of 24" :key="i">{{ i - 1 }}</td>
        </tr>
        <tr v-for="(item, i) of week" :key="i">
          <td class="td-name">{{ item.name }}</td>

          <td v-for="(inItem, i) of item.arr" :key="i" class="td-empty" :class="{ lock: inItem.isLock }">
            <h-pop class="td-pop" :open-delay="500">
              <div class="td-pop-content">
                {{ `${item.name} ${inItem.range}` }}
              </div>
              <div slot="reference" class="td-pop-reference" :data-pos="`${inItem.x}-${inItem.y}`"></div>
            </h-pop>
          </td>
        </tr>
      </table>

      <div class="choose-shade" :style="chooseShadeStyle" ref="shade"></div>
    </div>
    <ul class="time-range__info">
      <li>
        <span class="info-title">{{ resDisWeek.length ? '已选择时间段' : '可拖动鼠标选择时间段' }}</span>
        <span class="clear" @click="clear">清空选择</span>
      </li>
      <li v-for="(day, i) of resDisWeek" :key="i">
        <span class="info-title">{{ day.name }}</span>
        <span>{{ day.ranges }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import HPop from '../HPop/HPop';
// import { throttle } from "@utils/common";
export default {
  name: 'h-time-range',
  components: { HPop },
  props: {
    value: String
  },
  data() {
    const rangeMap = this.getTimeRangeObj(); // 一共有49个，从00:00到24:00
    const week = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日'];
    return {
      //基础数据
      week: week.map((item, i) => ({
        name: item,
        arr: new Array(48).fill().map((item, inI) => ({
          x: i,
          y: inI,
          isChoose: false, //是否选择
          isLock: false, //是否选中
          range: `${rangeMap[inI]}-${rangeMap[inI + 1]}`
        }))
      })),
      //显示时间段的数据
      disWeek: [],
      rangeMap: rangeMap,
      mouseIsDown: false,
      startItem: {
        x: '',
        y: ''
      },
      chooseShadeStyle: {
        opacity: 0,
        left: 'auto',
        top: 'auto',
        width: 0,
        height: 0
      },
      apiParam: '',
      // 节流Move(用了节流在快速选取时，可能导致清除工作没清除干净，暂时去除)
      throttleMove: this.moveHandle
    };
  },
  computed: {
    resDisWeek() {
      // 去除没有选择的天数
      let resDisWeek = this.disWeek.filter(day => day.ranges.length);

      // 翻译成时间段
      for (const day of resDisWeek) {
        let ranges = [];
        for (const [i, range] of Object.entries(day.ranges)) {
          const startIndex = range[0];
          const endIndex = range[range.length - 1] + 1;
          const start = this.rangeMap[startIndex];
          const end = this.rangeMap[endIndex];
          ranges.push(`${start}-${end}`);
        }
        day.ranges = ranges.join('、');
      }
      return resDisWeek;
    }
  },
  watch: {
    value: {
      handler(val) {
        this.apiParam2lock(val);
        this.apiParam = val;
      },
      immediate: true
    },
    apiParam(val) {
      this.$emit('input', val);
    }
  },
  mounted() {
    ['mousedown', 'mousemove', 'mouseup'].forEach(item => document.addEventListener(item, this[item]));
  },
  destroyed() {
    ['mousedown', 'mousemove', 'mouseup'].forEach(item => document.removeEventListener(item, this[item]));
  },

  methods: {
    // 获取时间段的map对象
    getTimeRangeObj() {
      let arr = [];
      for (let i = 0; i < 49; i++) {
        const hour = `0${~~(i / 2)}`.slice(-2);
        const minute = i % 2 === 0 ? '00' : '30';
        arr[i] = `${hour}:${minute}`;
      }
      return arr;
    },
    // 根据xy获取对应的item
    getItem(str) {
      const x = +str.split('-')[0];
      const y = +str.split('-')[1];
      return this.week[x].arr.find(item => item.y == y);
    },
    mousedown(e) {
      const pos = e.target.dataset.pos;
      if (!pos) return;
      e.preventDefault(); //阻止选中文字
      e.stopPropagation();
      const item = this.getItem(pos);
      this.mouseIsDown = true;
      this.startItem = item;
      this.$refs.shade.style.transition = '.3s';
    },
    mousemove(e) {
      if (!this.mouseIsDown) return;
      this.throttleMove(e);
    },
    moveHandle(e) {
      if (!e) return; //加了throttle之后e可能是undefined，后续需排查
      const pos = e.target.dataset.pos;
      if (!pos) return;
      const item = this.getItem(pos);
      this.setShade(item);
      this.setChoose(item);
    },

    mouseup(e) {
      if (!this.mouseIsDown) return;
      const pos = e.target.dataset.pos;

      // 在表格外松开鼠标
      if (!pos) {
        if (this.chooseShadeStyle.opacity) {
          this.resetShade();
          this.mouseIsDown = false;
        }
        return;
      }

      const item = this.getItem(pos);
      const isClick = item.x === this.startItem.x && item.y === this.startItem.y;

      isClick ? this.setItemLock(item) : this.setLock();

      this.resetShade();
      this.setDisWeek();
      this.setApiParam();
      this.mouseIsDown = false;
    },

    clear() {
      for (const day of this.week) {
        for (const td of day.arr) {
          td.isLock = false;
        }
      }
      this.setDisWeek();
      this.setApiParam();
    },

    setItemLock(item) {
      item.isLock = !item.isLock;
    },
    setShade(item) {
      const startX = this.startItem.x;
      const startY = this.startItem.y;
      const endX = item.x;
      const endY = item.y;
      const rangeX = endY - startY;
      const rangeY = endX - startX;
      let startTd;
      if (rangeX <= 0 && rangeY <= 0) {
        //左上角
        startTd = document.querySelector(`[data-pos='${endX}-${endY}']`);
      } else if (rangeX >= 0 && rangeY <= 0) {
        //右上角
        startTd = document.querySelector(`[data-pos='${endX}-${startY}']`);
      } else if (rangeX >= 0 && rangeY >= 0) {
        //右下角
        startTd = document.querySelector(`[data-pos='${startX}-${startY}']`);
      } else if (rangeX <= 0 && rangeY >= 0) {
        //左下角
        startTd = document.querySelector(`[data-pos='${startX}-${endY}']`);
      }
      const viewLeft = startTd.getBoundingClientRect().left;
      const viewTop = startTd.getBoundingClientRect().top;

      this.chooseShadeStyle = {
        opacity: 0.5,
        left: viewLeft + 'px',
        top: viewTop + 'px',
        width: (Math.abs(rangeX) + 1) * (startTd.offsetWidth + 1) + 'px', //宽度+1是td的右border
        height: (Math.abs(rangeY) + 1) * (startTd.offsetHeight + 1) + 'px' //高度+1是td的下border
      };
    },
    resetShade() {
      this.$refs.shade.style.transition = 'none';
      this.chooseShadeStyle = {
        opacity: 0,
        left: 'auto',
        top: 'auto',
        width: 0,
        height: 0
      };
    },

    setChoose(item) {
      const startX = Math.min(this.startItem.x, item.x);
      const startY = Math.min(this.startItem.y, item.y);
      const endX = Math.max(this.startItem.x, item.x);
      const endY = Math.max(this.startItem.y, item.y);
      for (const day of this.week) {
        for (const td of day.arr) {
          td.isChoose = td.x >= startX && td.x <= endX && td.y >= startY && td.y <= endY;
        }
      }
    },
    setLock() {
      let chooseTds = []; //保存选中的td
      for (const day of this.week) {
        for (const td of day.arr) {
          if (td.isChoose) chooseTds.push(td);
        }
      }
      const isAll = chooseTds.every(item => item.isLock === chooseTds[0].isLock);
      isAll ? this.choose2Lock() : this.choose2Lock(true);
      chooseTds.forEach(td => (td.isChoose = false)); //清除选中的td
    },
    choose2Lock(isLock) {
      for (const day of this.week) {
        for (const td of day.arr) {
          if (!td.isChoose) continue;
          td.isLock = isLock || !td.isLock;
        }
      }
    },
    // 显示的时间段
    setDisWeek() {
      let disWeek = [];
      // 处理连续的数据
      for (const day of this.week) {
        let disDay = { name: day.name, ranges: [] };
        let oneRange = []; //存放单段连续的时间
        for (const [i, item] of Object.entries(day.arr)) {
          if (!item.isLock) continue;

          const nextItem = day.arr[+i + 1];
          oneRange.push(item.y);
          // 最后一个也要执行
          if ((nextItem && !nextItem.isLock) || +i === 47) {
            disDay.ranges.push(oneRange);
            oneRange = [];
          }
        }
        disWeek.push(disDay);
      }
      this.disWeek = disWeek;
    },
    // 处理成提交的格式
    setApiParam() {
      let apiParamArr = [];
      for (const day of this.week) {
        for (const td of day.arr) {
          apiParamArr.push(td.isLock ? '1' : '0');
        }
      }
      this.apiParam = apiParamArr.join('');
    },
    // 根据apiParam显示
    apiParam2lock(apiParam) {
      const arr = this.sliceStr(apiParam, 48);
      for (const [i, item] of Object.entries(arr)) {
        for (const [inI, value] of Object.entries(item)) {
          this.week[i].arr[inI].isLock = value === '1';
        }
      }
    },
    // 切割字符串，返回一个切割后数组
    sliceStr(str, num, isSave) {
      let resArr = [];
      const sumRound = isSave ? Math.ceil(str.length / num) : Math.floor(str.length / num);
      for (let i = 0; i < sumRound; i++) {
        let start = i * num;
        let end = (i + 1) * num;
        resArr.push(str.slice(start, end));
      }
      return resArr;
    }
  }
};
</script>

<style lang="scss">
.time-range {
  display: inline-block;
  font-family: PingFangSC-Regular, tahoma, arial, 'Hiragino Sans GB', 'Microsoft yahei', sans-serif;
  .time-range__table {
    position: relative;
    .normal-table {
      table-layout: fixed;
      width: auto;
      font-size: 12px;
      tr {
        line-height: 20px;
        padding: 0;
      }
      td {
        padding: 0;
        font-size: 12px;
        height: 20px;
      }
      .td-empty {
        width: 12px;
        background: #f5f5f5;
        transition: 0.3s;
      }
      .td-pop {
        height: 100%;
        text-align: center;
        .h-pop__reference {
          width: 100%;
          height: 100%;
        }
        .td-pop-reference {
          width: 100%;
          height: 100%;
        }
      }
      .lock {
        background-color: #2f88ff;
      }
    }
    .choose-shade {
      pointer-events: none;
      position: fixed;

      background-color: black;
    }
  }
  .time-range__info {
    font-size: 12px;
    border: 1px solid #dcdfe6;
    border-top: none;
    padding: 5px 10px;
    li {
      line-height: 22px;
      list-style: none;
    }
    .info-title {
      color: #999999;
      margin-right: 5px;
    }
    .clear {
      float: right;
      color: #2f88ff;
      cursor: pointer;
    }
  }
}
</style>
