<!--
 * @Author: Hang
 * @Date: 2020-07-11 16:24:29
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-12 14:52:34
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/Ok/Ok.vue
 * @Description: 暂无描述
-->
<template>
  <transition name="fade">
    <div v-if="show" class="ok">
      <slide-light>
        <ok-circle></ok-circle>
        <div v-if="msg" class="ok-msg">{{ msg }}</div>
      </slide-light>
    </div>
  </transition>
</template>

<script>
import OkCircle from "./OkCircle";
import SlideLight from "./SlideLight";

export default {
  name: "ok",
  components: { OkCircle, SlideLight },
  data() {
    return {
      show: false,
      msg: "",
    };
  },
  created() {},
  mounted() {},
  methods: {
    open(msg) {
      this.show = true;
      if (msg) this.msg = msg;
    },
    close() {
      this.show = false;
    },
  },
};
</script>

<style lang="scss">
@import "@assets/css/ani.scss";
.ok {
  max-width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background: white;
  z-index: 19921102;
  .ok-msg {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
  }
}
</style>
