<!--
 * @Author: Hang
 * @Date: 2020-07-11 16:24:29
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-11 19:45:30
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hang-ui/src/components/Ok/OkCircle.vue
 * @Description: 暂无描述
-->
<template>
  <div class="ok-circle">
    <div class="tick-wrap">
      <div class="tick left"></div>
      <div class="tick right"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ok-circle",
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>
<style lang="scss">
/* @import 'url'; */
$circleWidth: 50px;
$leftPosX: -7px;
$leftPosY: -7px;
$leftPos: translate($leftPosX, $leftPosY);
$rightPos: translate($leftPosX + 13px, $leftPosY + 13px);
$time: 0.3s;
.ok-circle {
  position: relative;
  display: inline-block;
  width: $circleWidth;
  height: $circleWidth;
  border-radius: 50%;
  background-color: #67c23a;
  .tick-wrap {
    position: absolute;
    left: 28%;
    top: 63%;

    .tick {
      position: absolute;
      height: 4px;
      border-radius: 2px;
      background-color: white;
    }
    .left {
      transform-origin: left top;
      transform: rotate(45deg) $leftPos;
      animation: leftAni $time;
      animation-fill-mode: forwards;
    }
    @keyframes leftAni {
      from {
        width: 0;
      }
      to {
        width: 15px;
      }
    }

    .right {
      transform-origin: left bottom;
      transform: rotate(-45deg) $rightPos;
      animation: rightAni $time;
      animation-fill-mode: forwards;
      animation-delay: $time;
    }
    @keyframes rightAni {
      0% {
        width: 0px;
      }
      25% {
        width: 25px;
      }
      60% {
        width: 30px;
      }
      100% {
        width: 25px;
      }
    }
  }
}
</style>
