<template>
  <div class="slide-light-wrap">
    <slot></slot>
    <div class="slide-light" ref="slideRight"></div>
  </div>
</template>

<script>
export default {
  name: "Slide-light",
  props: {
    width: {
      type: Number,
      default: 50,
    },
    time: {
      type: [String, Number],
      default: "3s",
    },
    rotate: {
      type: Number,
      default: 45,
      validator: (value) => 0 <= value && value <= 75,
    },
  },
  data() {
    return {};
  },
  computed: {
    c_width() {
      return `${this.width}px`;
    },
    c_time() {
      return typeof this.time === "number"
        ? `${(this.time / 1000).toFixed(2)}s`
        : this.time;
    },
    c_rotate() {
      const rotate = Math.max(0, Math.min(this.rotate, 75));
      return `${rotate}deg`;
    },
    c_height() {
      const heightPercent = 100 / Math.cos((this.rotate / 180) * Math.PI);
      const rotateAddHeight =
        this.width / Math.cos((this.rotate / 180) * Math.PI);
      return `calc(${heightPercent.toFixed(2)}% +  ${rotateAddHeight}px)`;
    },
  },
  created() {},
  mounted() {
    this.setCssText();
    // 需要在setCssText后面执行，需要获取计算后的高度
    this.addStyleSheet();
  },
  methods: {
    setCssText() {
      const widthCss = `width:${this.c_width}`;
      const rotateCss = this.getPrefixCss(
        "transform",
        `rotate(${this.c_rotate})`
      );
      const heightCss = `height:${this.c_height}`;
      const animationCss = this.getPrefixCss(
        "animation",
        `slide-light-w${this.width}-r${this.rotate} ${this.c_time} infinite`
      );
      const cssText = `;${widthCss};${rotateCss};${heightCss};${animationCss}`;
      this.$refs.slideRight.style.cssText += cssText;
    },
    getPrefixCss(prop, value) {
      const cssArr = ["", "-webkit-", "-moz-", "-ms-", "-o-"];
      return cssArr.map((item) => `${item}${prop}:${value}`).join(";");
    },
    // 根据width和rotate插入style标签，相同的width和rotate只插入一次
    addStyleSheet() {
      if (
        document.head.querySelector(
          `[data-slide-light-width="${this.width}"][data-slide-light-rotate="${this.rotate}"]`
        )
      ) {
        return;
      }

      let style = document.createElement("style");
      style.type = "text/css";
      style.dataset.slideLightWidth = this.width;
      style.dataset.slideLightRotate = this.rotate;
      const lightHeight = +getComputedStyle(this.$refs.slideRight)[
        "height"
      ].slice(0, -2);
      const addLeft =
        lightHeight * Math.cos((this.rotate / 180) * Math.PI) + 2 * this.width;
      const toLeft = `calc(100% + ${addLeft}px)`;
      style.innerHTML = `
      @keyframes slide-light-w${this.width}-r${this.rotate} {
        from {
          left: -${this.c_width};
        }

        to {
          left: ${toLeft}; 
        }
      }
      `;
      document.head.appendChild(style);
    },
  },
};
</script>
<style lang="scss">
/* @import 'url'; */
.slide-light-wrap {
  position: relative;
  overflow: hidden;

  .slide-light {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 300%;
    transform: rotate(45deg);
    transform-origin: top right;
    top: 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0)
    );
  }
}
</style>
