<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-23 10:55:58
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/export/index.vue
 * @Description: 表单演示
-->

<template>
  <div class="d-export">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code">
      <template #display>
        <h-export :url="exportUrl"></h-export>
      </template>
    </h-demo>

    <h-demo :title="test2.title" :explain="test2.explain" :code="test2.code">
      <template #display>
        <h-export :data="exportData" name="data导出测试"></h-export>
      </template>
    </h-demo>

    <h-demo :title="test3.title" :explain="test3.explain" :code="test3.code">
      <template #display>
        <h-export :get-export-data="getExportData" name="getExportData导出测试"></h-export>
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';
import { getUrl } from '@api/http';
export default {
  name: 'd-export',
  data() {
    return {
      code,
      options,
      exportUrl: getUrl('/getTable?action=export'),
      exportData: '表头1,表头2,表头3\n1,2,3,\n',
      test1: {
        title: '基础使用',
        explain: '传入下载文件地址，表示后端导出',
        code: code.test1
      },
      test2: {
        title: '前端导出（data属性）',
        explain: '传入data属性导出',
        code: code.test2
      },
      test3: {
        title: '前端导出（getExportData属性）',
        explain: '传入getExportData函数，函数返回最终导出的数据结构',
        code: code.test3
      }
    };
  },
  methods: {
    getExportData(exportComponent) {
      return '表头1,表头2,表头3\n1,2,3,\n';
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
