<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-21 21:35:05
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/fileManage/index.vue
 * @Description: 表单演示
-->

<template>
  <div class="d-file-manage">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-file-manage :urls="urls"></h-file-manage>
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';
import { getUrl } from '@api/http';
export default {
  name: 'd-file-manage',
  data() {
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain: '类windows风格的可视化文件管理，支持缩略图和列表模式（这里的数据为写死的测试数据）',
        code: code.test1,
        help: ''
      },
      urls: {
        list: getUrl('/fileManage/list'),
        search: getUrl('/fileManage/search'),
        upload: getUrl('/fileManage/upload'),
        mkDir: getUrl('/fileManage/mkDir'),
        rename: getUrl('/fileManage/rename'),
        delete: getUrl('/fileManage/delete'),
        down: getUrl('/fileManage/down')
      }
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
