<!--
 * @Author: Hang
 * @Date: 2020-07-16 12:39:06
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 22:50:46
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HContent/HContent.vue
 * @Description: 暂无描述
-->
<template>
  <h-scroll :to="scrollTop" :el="scrollEl" @scroll="onScroll" @scroll-end="scrollEnd" ref="scroll">
    <div class="h-content">
      <!-- 现在h-scroll和h-hide-scroll冲突，只有在里面的生效，暂时没有好的办法，后续解决 -->
      <!-- <h-hide-scroll max-height="100%"> -->
      <div class="h-content-main" ref="content">
        <slot></slot>
      </div>
      <!-- </h-hide-scroll> -->

      <h-fix class="h-content-fix" :target="scrollTarget">
        <h-catalog
          class="h-content-catalog"
          :data="catalogData"
          :value="currentCatalog"
          @change="catalogChange"
        ></h-catalog>
      </h-fix>
    </div>
  </h-scroll>
</template>

<script>
import HCatalog from '../HCatalog/HCatalog';
import HScroll from '../HScroll/HScroll';

// import HHideScroll from '../HHideScroll/HHideScroll';
export default {
  name: 'h-content',
  components: { HCatalog, HScroll },
  data() {
    return {
      catalogData: [],
      currentCatalog: '',
      scrollTop: 0,
      scrollEl: '',
      /*
      isScrolling：禁止判断当前滚动内容所在目录，在通过点击目录跳转时启用
      1、防止目录最下级的内容太短，还没到左上角，导致目录定位错误
      2、提高性能
      */
      isScrolling: false,
      // 固钉组件需要传入的滚动容器
      scrollTarget: null
    };
  },
  mounted() {
    this.setCatalogData();
    this.setScrollHeight();
  },

  updated() {
    this.setCatalogData();
  },

  methods: {
    // 内容滚动同步右侧目录
    onScroll(scrollTop) {
      if (this.isScrolling) return;
      const contentCatalog = this.getContentCatalog(scrollTop);
      if (contentCatalog !== this.currentCatalog && contentCatalog) this.currentCatalog = contentCatalog;
    },
    // 滚动结束
    scrollEnd(scrollTop) {
      this.isScrolling = false;
      // 使得可以再次触发滚动
      this.scrollEl = '';
    },
    // 点击右侧目录时
    catalogChange(key) {
      this.currentCatalog = key;
      this.isScrolling = true;
      this.scrollEl = `[h-content=${key}]`;
    },
    // 获取设置的标题DOM元素
    getTitles() {
      return [...(this.$refs.content.querySelectorAll('[h-content]') || [])];
    },
    // 根据设置的标题内容设置目录数据
    setCatalogData() {
      const newCatalogData = this.getCatalogData();
      const oldCatelogData = this.catalogData;
      // 防止update时死循环
      if (JSON.stringify(newCatalogData) === JSON.stringify(oldCatelogData)) return;
      this.catalogData = newCatalogData;
      const first = this.catalogData[0];
      // 第一次加载时，设置默认目录值
      this.currentCatalog = (first && first.key) || '';
    },
    getCatalogData() {
      const titles = this.getTitles();
      const catalogData = titles.map(item => ({
        key: (item && item.getAttribute('h-content')) || '',
        title: (item && item.textContent) || ''
      }));
      return catalogData;
    },
    // 获取当前内容是属于哪个catalog
    getContentCatalog(scrollTop) {
      const titles = this.getTitles();
      if (!titles.length) return '';
      const currentTitle = titles.reverse().find(item => scrollTop >= item.offsetTop);
      if (!currentTitle) return '';
      const currentCatalog = currentTitle.getAttribute('h-content');
      return currentCatalog;
    },
    setScrollHeight() {
      const scroll = this.$refs.scroll;
      this.scrollTarget = scroll && scroll.$el;
    }
  }
};
</script>
<style lang="scss">
// @import 'url';
.h-content {
  .h-content-main {
    display: inline-block;
    width: 100%;
    max-width: calc(100% - 200px);
  }
  .h-content-fix {
    display: inline-block;
    vertical-align: top;
  }
  .h-content-catalog {
    margin-left: 20px;
  }
}
</style>
