<!--
 * @Author: Hang
 * @Date: 2020-07-26 11:28:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-26 12:54:44
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HCascader/index.vue
 * @Description: 暂无描述
-->

<template>
  <component :is="currentType" v-bind="$attrs" v-on="$listeners"></component>
</template>

<script>
import CheckboxCascader from './checkbox/Cascader';
import RadioCascader from './radio/Cascader';
export default {
  name: 'h-cascader',
  inheritAttrs: false,
  components: { CheckboxCascader, RadioCascader },
  props: {
    type: {
      type: String,
      default: 'checkbox',
      validator: value => ['checkbox', 'radio'].includes(value)
    }
  },
  data() {
    return {};
  },
  computed: {
    currentType() {
      return this.type === 'checkbox' ? 'checkbox-cascader' : 'radio-cascader';
    }
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>

<style lang="scss">
@import '@assets/css/var';
@import '@assets/css/mixin';
$border-color: rgb(235, 238, 245);
$bg-color: rgb(245, 247, 250);
$hover-color: #f2f6fc;
$padding-width: 10px;
.more-cascader-item {
  display: inline-block;
  width: 200px;
  border: 1px solid $border-color;
  font-size: 12px;
  user-select: none;
  .header {
    height: 40px;
    line-height: 40px;
    background: $bg-color;
    border-bottom: 1px solid $border-color;
    padding: 0 $padding-width;
  }
  .body {
    height: calc(100% - 40px);
    overflow: auto;
    .item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 $padding-width;
      height: 40px;
      &:hover {
        background: $hover-color;
      }
      .item-left {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        .item-input {
          display: none;
        }
      }
      .item-right {
        overflow: hidden;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .item-text {
          @include ellipsis;
        }
      }
    }
  }

  /* 下面是result样式 */
  .clear-btn {
    float: right;
    cursor: pointer;
    &:hover {
      color: #f56c6c;
    }
  }
  .item-result {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-result-text {
      @include ellipsis;
    }

    .item-result-close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;

      &:hover {
        background: #f56c6c;
        border-radius: 50%;
        i {
          color: white;
        }
      }
    }
  }
}
</style>
