<!--
 * @Author: Hang
 * @Date: 2020-07-21 18:59:33
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-21 19:00:23
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/home/index.vue
 * @Description: 暂无描述
-->
<template>
  <div class="h-home"></div>
</template>

<script>
export default {
  name: 'h-home',
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
// @import 'url';
</style>
