<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:35:43
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-13 16:21:53
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/layouts/Menu.vue
 * @Description: 暂无描述
-->
<template>
  <el-menu router>
    <SubMenu :routes="routes"></SubMenu>
  </el-menu>
</template>

<script>
import SubMenu from "./SubMenu";
export default {
  name: "HMenu",
  components: { SubMenu },
  data() {
    return {};
  },
  computed: {
    routes() {
      return this.$router.options.routes;
    },
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>
<style lang="scss">
/* @import url() */
</style>
