<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:35:43
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-13 16:40:26
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/layouts/SubMenu.vue
 * @Description: 暂无描述
-->
<template>
  <div>
    <!-- 有子级的菜单 -->
    <template
      v-for="({ children, path, hidden, absolutePath, title, icon },
      i) of routes"
    >
      <el-submenu v-if="children" :index="path" :key="path">
        <template slot="title">
          <i :class="`${icon || 'el-icon-menu'}`"></i>
          <span>{{ title }}</span>
        </template>
        <SubMenu
          :routes="children"
          :base-path="absolutePath ? getAbsolutePath(title, path) : path"
        ></SubMenu>
      </el-submenu>
      <!-- 没子级的菜单 -->
      <template v-else>
        <el-menu-item v-if="!hidden" :index="getPath(path)" :key="path">
          <template slot="title">
            <i :class="`${icon || 'el-icon-menu'}`"></i>
            <span>{{ title }}</span>
          </template>
        </el-menu-item>
      </template>
    </template>
  </div>
</template>

<script>
import path from "path";
export default {
  name: "SubMenu",
  props: {
    routes: {
      type: Array,
      default: () => [],
    },
    basePath: {
      type: String,
      default: "/",
    },
  },
  data() {
    return {};
  },

  methods: {
    getPath(routePath) {
      const newPath = path.resolve(this.basePath, routePath);
      return newPath;
    },
    getAbsolutePath(title, routePath) {
      return this.getPath(routePath);
    },
  },
};
</script>
<style lang="scss">
/* @import url() */
</style>
