<!--
 * @Author: Hang
 * @Date: 2020-07-13 22:56:09
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-21 14:54:41
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HCard/HCard.vue
 * @Description: 暂无描述
-->
<template>
  <div class="h-card" :class="`${shadow}`">
    <div v-if="title" class="h-card__title">
      <slot name="title">{{ title }}</slot>
    </div>

    <div class="h-card__body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'h-card',
  props: {
    title: String,
    shadow: {
      type: String,
      default: 'hover',
      validator: value => ['always', 'hover', 'never'].indexOf(value)
    }
  }
};
</script>

<style lang="scss">
$shoadw: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
.h-card {
  background: #ffffff;
  margin-bottom: 12px;

  border-radius: 4px;
  border: 1px solid #ebeef5;
  transition: box-shadow 0.3s;
  &.always {
    box-shadow: $shoadw;
  }
  &.hover:hover {
    box-shadow: $shoadw;
  }

  .h-card__title {
    padding: 18px 20px;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebeef5;
  }
  .h-card__body {
    padding: 20px;
  }
}
</style>
