<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 12:19:49
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/upload/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-upload">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-upload
          url="/local/upload"
          :handleParams="handleParams"
          @process="onProcess"
          @success="onSuccess"
          @fail="onFail"
          @error="onError"
        ></h-upload>
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-upload',
  data() {
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain: '上传时进行切片，支持批量',
        code: code.test1,
        help: ''
      }
    };
  },
  methods: {
    handleParams(params) {
      // 可以直接修改params
      params.file2 = params.fileName;
      // 可以自定定一个新的对象
      // return { file2: params.fileName };
    },
    onProcess({ percent, file, files }) {
      console.log(percent, file, files);
    },
    onSuccess({ file, files }) {
      console.log(file, files);
    },
    onFail({ file, files }) {
      console.log(file, files);
    },
    onError({ file, files }) {
      console.log(file, files);
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
