<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 12:19:04
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/overHide/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-over-hide">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-over-hide v-model="show" :height="height">
          <p>test</p>
          <p>test</p>
          <p>test</p>
          <p>超出的test</p>
          <p>超出的test</p>
          <p>超出的test</p>
        </h-over-hide>
      </template>
    </h-demo>
    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-over-hide',
  data() {
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain: '高度超出隐藏，显示展开/收起按钮',
        code: code.test1,
        help: ''
      },
      show: false,
      height: 120
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
