@import './var.scss';
@import './status.scss';
:root {
  * {
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

// 重写a样式
a {
  color: $theme-color;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

// 清除浮动
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

// 单行文字超出省略号
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

// 绝对定位居中
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%));
}
