<!--
 * @Author: Hang
 * @Date: 2020-07-11 23:04:10
 * @LastEditors: Hang
 * @LastEditTime: 2020-08-23 18:42:02
 * @FilePath: /demon-home/Users/zhengmukang/Desktop/hf-ui/examples/views/test/HForm.vue
 * @Description: 
 
 动态表单，数据结构如下:
 [{
   key: key值,
   title: 显示名,
   type: 表单类型,
   childType: 表单的二级类型，比如input的textarea,date的daterange等,
   options:[{
     key: 列表的key值,
     title: 列表的显示值
   }],
   rules: form-item的校验规则,
   formItemProps: 传递给form-item的属性,
   optionProps: 传递给option的属性,
   其它不在上面声明的属性将传给表单，比如placeholder等
 }]
 可传入#key的slot自定义传入表单
-->

<script>
// import { setup,reactive,toRefs } from '@vue/composition-api';
export default {
  name: 'h-form',
  inheritAttrs: false,
  render() {
    const { $attrs, currentData, params, formItemStyle, formStyle, $scopedSlots } = this;
    const getFormItem = itemOptions => {
      const scopedTag = $scopedSlots[key];
      if (scopedTag) return scopedTag();
      // 这里没用到的不能剔除，因为需要把它们从otherProps里面剔除
      const {
        key,
        type,
        childType,
        options = [],
        optionProps,
        title,
        rules,
        formItemProps,
        style,
        ...otherProps
      } = itemOptions;
      const getOptions = () =>
        options.map(({ key, title }) => {
          const optionAttrs = {
            key,
            ...optionProps
          };
          switch (type) {
            case 'select':
            default:
              return <el-option label={title} value={key} {...{ attrs: optionAttrs }}></el-option>;
            case 'checkbox':
              return (
                <el-checkbox label={key} {...{ attrs: optionAttrs }}>
                  {title}
                </el-checkbox>
              );
            case 'radio':
              return (
                <el-radio label={key} {...{ attrs: optionAttrs }}>
                  {title}
                </el-radio>
              );
          }
        });

      switch (type) {
        case 'input':
        default:
          return <el-input vModel={params[key]} type={childType} {...{ attrs: otherProps }}></el-input>;
        case 'select':
          return (
            <el-select vModel={params[key]} {...{ attrs: otherProps }}>
              {getOptions()}
            </el-select>
          );
        case 'checkbox':
          return (
            <el-checkbox-group vModel={params[key]} {...{ attrs: otherProps }}>
              {getOptions()}
            </el-checkbox-group>
          );
        case 'radio':
          return (
            <el-radio-group vModel={params[key]} {...{ attrs: otherProps }}>
              {getOptions()}
            </el-radio-group>
          );
        case 'date':
          return <el-date-picker vModel={params[key]} type={childType} {...{ attrs: otherProps }}></el-date-picker>;
        case 'time':
          return <el-time-picker vModel={params[key]} {...{ attrs: otherProps }}></el-time-picker>;
        case 'switch':
          return <el-switch vModel={params[key]} {...{ attrs: otherProps }}></el-switch>;
      }
    };
    return (
      <el-form
        label-width={$attrs.inline === '' ? '0' : $attrs['label-width'] || '80'}
        size={$attrs.size || 'small'}
        class="h-form"
        style={formStyle}
        {...{ attrs: { ...$attrs, model: params } }}
        onSubmit_prevent
        ref="form"
      >
        {currentData.map(itemOptions => {
          const { key, title, rules, formItemProps, style } = itemOptions;
          return (
            <el-form-item
              key={key}
              prop={key}
              label={$attrs.inline === '' ? '' : title}
              rules={rules}
              class="h-form-item"
              style={{ ...formItemStyle, ...style }}
              {...{ attrs: formItemProps }}
            >
              {getFormItem(itemOptions)}
            </el-form-item>
          );
        })}
      </el-form>
    );
  },
  props: {
    data: {
      type: Array,
      default: () => []
    },
    value: {
      type: Object,
      default: () => ({})
    },
    cols: {
      type: [Number, String]
    },
    gutter: {
      type: Number
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      currentData: [],
      params: {}
    };
  },
  computed: {
    // 根据列数修改宽度和间隔
    formItemStyle() {
      if (this.$attrs.inline === '' && !this.cols) {
        // 如果是inline并且没有传递列数，不需设置宽度
        return {};
      }
      const cols = +this.cols || 2;
      const width = `${+(100 / cols).toFixed(1)}%`;
      const gutter = `${this.gutter || 20}px`;
      return {
        width,
        paddingRight: gutter
      };
    },
    // 根据间隔修改h-form的marginRight,隐藏最右边宽度
    formStyle() {
      const gutter = `-${this.gutter || 20}px`;
      return {
        marginRight: gutter
      };
    }
  },
  watch: {
    value: {
      handler(val) {
        this.params = val;
      },
      immediate: true
    },
    params: {
      handler(val) {
        this.$emit('input', val);
      },
      deep: true
    }
  },
  mounted() {
    this.handleData();
    this.resetParams();
  },
  methods: {
    // 对传进来的data进行处理
    handleData() {
      this.currentData = this.data.map(item => {
        const handlers = [this.setDefaultAttrs, this.setColsStyle];
        return this.chainHanlder(item, handlers);
      });
    },
    setDefaultAttrs(item) {
      // 默认是input类型
      if (!item.type) item.type = 'input';
      // 设置rule
      if (item.rules) {
        item.rules = item.rules.map(rule => (rule.required ? { message: '请填写该字段', ...rule } : rule));
      }
      // 根据类型设置
      switch (item.type) {
        case 'input':
        default:
          item.placeholder = item.placeholder || `请输入${item.title}`;
          item.clearable = item.clearable === undefined ? true : item.clearable;
          break;
        case 'select':
          item.placeholder = item.placeholder || `请选择${item.title}`;
          item.clearable = item.clearable === undefined ? true : item.clearable;
          item.filterable = item.filterable === undefined ? true : item.filterable;
          item.options = item.options || [];
          // 对下拉框设置ref，因为iview有BUG，可搜索时，选中后重新打开下拉列表只剩上次选中的值
          item.ref = `select-${item.key}`;
          break;
        case 'checkbox':
        case 'radio':
          item.options = item.options || [];
          break;
        case 'date':
          item.placeholder = item.placeholder || `请选择${item.title}`;
          item.childType = item.childType || 'date';
          // elementUI支持时间对象转换成字符串的功能，无需手动转换
          item['value-format'] = item['value-format'] || 'yyyy-MM-dd';
          break;
      }
      return item;
    },
    setColsStyle(item) {
      let style = {};
      if (item.col && this.cols) {
        // 如果是inline并且没有传递列数，才需设置宽度
        const width = `${+(100 / this.cols).toFixed(1) * +item.col}%`;
        const gutter = `${this.gutter || 20}px`;
        style = {
          width,
          paddingRight: gutter
        };
      }
      return { ...item, style: { ...style, ...item.style } };
    },
    chainHanlder(data, fns = []) {
      return fns.reduce((memo, cur) => cur(memo), data);
    },
    unFalsy(value) {
      return value || value === 0;
    },
    // 根据传进来的数据，生成双向绑定的初始对象
    resetParams() {
      let params = {};
      for (const item of this.currentData) {
        switch (item.type) {
          case 'input':
          default:
            params[item.key] = '';
            break;
          case 'select':
            params[item.key] = item.multiple ? [] : '';
            // const selectRef = this.$refs[`select-${item.key}`]
            // selectRef && selectRef.setQuery(null)
            break;
          case 'date':
            switch (item.childType) {
              case 'daterange':
              case 'datetimerange':
                params[item.key] = [];
                break;
              default:
                params[item.key] = '';
                break;
            }
            break;
          case 'checkbox':
          case 'daterange':
            params[item.key] = [];
            break;
          case 'switch':
            params[item.key] = false;
            break;
        }
        const defaultValue = item.value || this.value[item.key];
        if (this.unFalsy(defaultValue)) params[item.key] = defaultValue;
      }
      this.params = params;
    },
    // 验证--用于外部调用
    formCheck() {
      let pass;
      this.$refs.form.validate(valid => {
        pass = valid;
      });
      return pass;
    },
    // 清除验证--用于外部调用
    clearCheck() {
      //必须使用nextTick保证在弹窗出现后执行
      this.$nextTick(() => {
        this.$refs.form.clearValidate();
      });
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
.h-form {
  .h-form-item {
    display: inline-block;
    // 修改elementUI的样式

    // title放到上面
    .el-form-item__label {
      float: none;
    }
    .el-form-item__content {
      // 下拉、单选、多选
      > .el-select,
      .el-radio-group,
      .el-checkbox-group {
        width: 100%;
      }
      // 时间(定为140px，为了不留空白)
      > .el-date-editor.el-input {
        width: 140px;
      }
      // 时间范围
      > .el-range-editor.el-input__inner {
        width: 100%;
        min-width: 230px;
      }
    }
  }
}
</style>
