<!--
 * @Author: Hang
 * @Date: 2020-08-23 14:16:05
 * @LastEditors: Hang
 * @LastEditTime: 2020-08-23 18:25:27
 * @FilePath: /demon-home/Users/zhengmukang/Desktop/hf-ui/examples/views/test/index.vue
 * @Description: 暂无描述
-->
<template>
  <div class="test">
    <h-form :data="formData" v-model="test" :cols="2"> </h-form>
  </div>
</template>

<script>
import HForm from './HForm';
export default {
  name: 'test',
  components: { HForm },
  data() {
    return {
      formData: [
        {
          key: '1',
          title: '1',
          col: 2 / 3
        },
        {
          key: '2',
          title: '2',
          type: 'select',
          options: [
            {
              key: '2-1',
              title: '2-1'
            }
          ],
          multiple: true,
          col: 1 / 3
        },
        {
          key: '3',
          title: '3',
          type: 'checkbox',
          options: [
            {
              key: '3-1',
              title: '3-1'
            },
            {
              key: '3-2',
              title: '3-2'
            },
            {
              key: '3-3',
              title: '3-3'
            }
          ]
        },
        {
          key: '4',
          title: '4',
          type: 'radio',
          options: [
            {
              key: '4-1',
              title: '4-1'
            },
            {
              key: '4-2',
              title: '4-2'
            },
            {
              key: '4-4',
              title: '4-4'
            }
          ]
        },
        {
          key: '5',
          title: '5',
          type: 'date',
          childType: 'daterange',
          valueFormat: 'yyyy/MM/dd'
        },
        {
          key: '6',
          title: '6',
          type: 'time',
          isRange: true
        },
        {
          key: '7',
          title: '7',
          type: 'switch'
        }
      ],
      test: {}
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
// @import 'url';
</style>
