<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-18 00:00:39
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/fix/index.vue
 * @Description: 表单演示
-->

<template>
  <div class="d-fix">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code">
      <template #display>
        <div class="d-fix-test" ref="test">
          <h-fix :target="scrollEl">
            <el-button type="primary">固定在容器的顶部</el-button>
          </h-fix>
          <div class="test1"></div>

          <div class="test2"></div>
        </div>
      </template>
    </h-demo>

    <h-demo :title="test2.title" :explain="test2.explain" :code="test2.code">
      <template #display>
        <div class="d-fix-test" ref="test2">
          <div class="test1"></div>

          <h-fix :target="scrollEl2" :top="20">
            <el-button type="primary">固定在离这个容器20px处</el-button>
          </h-fix>

          <div class="test2"></div>
        </div>
      </template>
      <template #help>
        通过传入<code>top</code>设置偏移量
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-fix',
  data() {
    return {
      options,
      scrollEl: null,
      scrollEl2: null,
      test1: {
        title: '基础使用',
        explain: '会记住当前位置，在滚动时通过fix设置之前的位置',
        code: code.test1
      },
      test2: {
        title: '设置偏移量',
        explain: '用户可自定义偏移量',
        code: code.test2
      }
    };
  },
  created() {},
  mounted() {
    this.scrollEl = this.$refs.test;
    this.scrollEl2 = this.$refs.test2;
  },
  methods: {}
};
</script>
<style lang="scss">
@import '@assets/css/var';
.d-fix-test {
  height: 200px;
  overflow: auto;
  border: 1px solid $border-color;
  .test1 {
    background: indianred;
    height: 50px;
  }
  .test2 {
    background: khaki;
    height: 200px;
  }
}
</style>
