<!--
 * @Author: Hang
 * @Date: 2020-07-11 15:15:17
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-23 14:06:32
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/App.vue
 * @Description: 暂无描述
-->
<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
