<!--
 * @Author: Hang
 * @Date: 2020-07-18 10:07:22
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-31 08:40:44
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HCascader/checkbox/Cascader.vue
 * @Description: 暂无描述
-->
<template>
  <div class="h-cascader">
    <checkbox-cascader-item
      v-for="({ parent, list }, i) of cascaders"
      :key="parent"
      :parent="parent"
      :layer="i"
      :data="list"
      v-model="currentValue[i]"
      @custom-one-change="customOneChange"
      @all-checked="itemAllChcecked"
      @pop-child="popChild"
      ref="cascaderItem"
    ></checkbox-cascader-item>
    <checkbox-cascader-result
      v-if="value.length"
      :path-key-obj="pathKeyObj"
      :values="value"
      @close="close"
      @close-all="closeAll"
    ></checkbox-cascader-result>
  </div>
</template>

<script>
import CheckboxCascaderItem from './CascaderItem';
import CheckboxCascaderResult from './CascaderResult';
import { getUniqArray, deepCopy } from '@utils/common';
export default {
  name: 'checkbox-cascader',
  components: { CheckboxCascaderItem, CheckboxCascaderResult },
  props: {
    data: {
      type: Array,
      default: () => []
      /*
        格式：
        [{
          key:'',
          title:'',
          children:[{
            key:'',
            title:''
          }]
        }]
      */
    },
    value: {
      type: Array,
      default: () => []
      /*
        '2-88'表示路径，这样能保证值的唯一性(进入组件之后的key值全部为path)
        [['2'],['2-88']]
      */
    }
  },
  data() {
    return {
      // 增加parent/path/layer后的数据
      currentData: [],
      // 将currentData转成以path为key的对象
      pathKeyObj: {},
      // 显示级联的数据结构
      cascaders: [],
      // 核心：串连cascader=>item=>results的key值
      currentValue: [],
      // 跟外层value双向绑定
      resultValue: []
    };
  },
  watch: {
    value: {
      handler() {
        if (!this.HAS_SETDATA) {
          this.setData();
          this.HAS_SETDATA = true;
        }

        // 设置currentValue
        const currentValue = this.getCurrentValue();
        this.currentValue = currentValue;
        // this.getValue();
      },
      immediate: true
    },
    currentValue: {
      handler() {
        // 抛出值
        const value = this.getValue();
        if (JSON.stringify(value) === JSON.stringify(this.resultValue)) return;
        this.resultValue = value;
      },
      immediate: true
    },
    resultValue(val) {
      this.$emit('input', val);
    }
  },
  methods: {
    // 设置数据，初始时设置一次
    setData() {
      this.setCurrentData();
      this.setInitCascaders();
    },
    // 对cascaders数据增加parent和layer，以便后续处理
    setCurrentData() {
      let currentData = [];
      let pathKeyObj = {};
      const helper = (arr, parent = 0, path = []) => {
        for (const item of arr) {
          // 只需保证每个children里面的key不唯一，path便是唯一的， data便可以转成以path为key的对象进行快速取值，
          const currentPath = [...path, item.key];
          const currentPathStr = currentPath.join('-');
          item.parent = parent;
          item.path = currentPathStr;
          item.layer = path.length;
          // 是否勾选
          item.checked = false;

          // 设置以path为key的对象
          pathKeyObj[currentPathStr] = item;

          if (item.children) {
            helper(item.children, item.key, currentPath);
          }
        }
        return arr;
      };

      currentData = helper(this.data);

      this.currentData = currentData;
      this.pathKeyObj = pathKeyObj;
    },
    // 设置初始级联显示数据
    setInitCascaders() {
      this.cascaders = [
        {
          parent: 0,
          list: this.currentData
        }
      ];
    },
    // 设置currentValue
    getCurrentValue() {
      let currentValue = [];

      const helper = (arr, i) => {
        if (!currentValue[i]) currentValue[i] = [];
        for (const value of arr) {
          const item = this.pathKeyObj[value];
          const children = item && item.children;
          const childValues = (children || []).map(item => item.path);

          if (!currentValue[i].includes(value)) currentValue[i].push(value);
          if (children) {
            if (!currentValue[i + 1]) currentValue[i + 1] = [];
            currentValue[i + 1] = getUniqArray(currentValue[i + 1].concat(childValues));
            helper(childValues, i + 1);
          }
        }
      };
      for (const [i, arr] of Object.entries(this.value)) {
        helper(arr, +i);
      }
      return currentValue;
    },
    // 设置抛出去的value
    getValue() {
      let currentValue = deepCopy(this.currentValue);
      for (const [i, layerValues] of Object.entries(currentValue)) {
        for (const value of layerValues) {
          const item = this.pathKeyObj[value];
          const children = item && item.children;
          const childValues = (children || []).map(item => item.path);

          let nextLayerValues = currentValue[+i + 1];

          if (children && nextLayerValues) {
            currentValue[+i + 1] = nextLayerValues.filter(item => !childValues.includes(item));
          }
        }
      }

      return currentValue;
    },
    // 增加值
    addValues(arr = [], addValues) {
      for (const addValue of addValues) {
        const hasExist = arr.includes(addValue);
        if (!hasExist) arr.push(addValue);
      }
    },
    // 删除值(传了deep:如果有值有children，会递归删除相应的children值)
    delValues(arr = [], delValues) {
      for (const delValue of delValues) {
        const index = arr.indexOf(delValue);
        if (index > -1) arr.splice(index, 1);
      }
    },
    // 重要：增加或删除每个层级的values(item组件也会调这个来设置values)
    setLayerValues(type = 'add', layer, values) {
      const fn = type === 'add' ? this.addValues : this.delValues;

      const helper = (arr, _layer) => {
        let layerValues = [];
        for (const value of arr) {
          layerValues.push(value);
          const item = this.pathKeyObj[value];
          const children = item && item.children;
          const childValues = (children || []).map(item => item.path);
          if (children) helper(childValues, _layer + 1);
        }
        if (!this.currentValue[_layer]) this.$set(this.currentValue, _layer, []);
        fn(this.currentValue[_layer], layerValues);
      };

      helper(values, +layer);
    },
    // 重要：兼容当父级全选时，子级去除勾选BUG问题（由于父级会触发全选导致BUG）
    delRootParentValues(parent, layer) {
      if (layer === -1) return;
      this.delValues(this.currentValue[layer], [parent]);
      const item = this.pathKeyObj[parent];
      const prevParent = item.parent;
      this.delRootParentValues(prevParent, layer - 1);
    },
    customOneChange({ item, checked, layer }) {
      // 设置子级全选或全不选
      const type = checked ? 'add' : 'del';
      this.setLayerValues(type, layer, [item.path]);
    },
    // 级联全选、取消全选事件
    itemAllChcecked({ allChecked, parent, layer }) {
      if (!layer) return;
      const parentLayer = layer - 1;
      if (allChecked) {
        this.addValues(this.currentValue[parentLayer], [parent]);
      } else {
        this.delRootParentValues(parent, parentLayer);
      }
    },

    // 弹出子级事件
    popChild(item, layer, parent) {
      const childCascader = { parent: item.path, list: item.children };
      let cascaders = this.cascaders;

      if (layer + 1 === cascaders.length - 1 && cascaders[layer + 1].parent === childCascader.parent) {
        // 当前点击项右边只有一个子级且刚好是需要弹出的子级，收回来
        this.cascaders.splice(layer + 1, 1);
      } else {
        const keepCascaders = cascaders.slice(0, layer + 1);
        keepCascaders.push(childCascader);
        this.cascaders = keepCascaders;
      }
    },
    // 清除单个
    close(item, i) {
      this.setLayerValues('del', item.layer, [item.path]);
    },
    // 清除所有
    closeAll() {
      this.currentValue = [];
    }
  }
};
</script>
<style lang="scss">
// @import 'url';
</style>
