<!--
 * @Author: Hang
 * @Date: 2020-07-18 10:11:53
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-26 11:50:33
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HCascader/checkbox/CascaderItem.vue
 * @Description: 暂无描述
-->
<template>
  <div class="more-cascader-item" :style="style">
    <div class="header">{{ title }}</div>

    <ul class="body">
      <li class="item">
        <label class="item-left item-checkall">
          <input class="item-input" type="checkbox" v-model="allChecked" @change="customAllChecked" />
          <span class="item-checkbox"></span>
          <span>全选</span>
        </label>
      </li>

      <li class="item" v-for="item of data" :key="item.path">
        <label class="item-left">
          <input
            v-model="currentValue"
            :value="item.path"
            @change="customOneChange($event, item)"
            class="item-input"
            type="checkbox"
          />
          <span class="item-checkbox"></span>
        </label>

        <span class="item-right" @click="clickText(item)">
          <span class="item-text" :title="item.title">{{ item.title }}</span>
          <i v-if="hasChildren(item)" class="el-icon-arrow-right item-icon"></i>
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
import { getPx } from '@utils/common';
export default {
  name: 'checkbox-cascader-item',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    // 当前级联的层级
    layer: {
      type: Number,
      default: 0
    },
    // 父级key
    parent: {
      type: [Number, String],
      default: 0
    },
    value: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: '标题'
    },
    width: {
      type: [String, Number],
      default: 200
    },
    height: {
      type: [String, Number],
      default: 300
    }
  },
  data() {
    return {
      // 外部的勾选列表，checkedList最终会同步到这里
      currentValue: [],
      allChecked: false
    };
  },
  computed: {
    style() {
      let style = {
        width: getPx(this.width),
        height: getPx(this.height)
      };
      return style;
    }
  },
  watch: {
    value: {
      handler(val) {
        // 设置是否全选
        this.allChecked = this.getAllCheckedList().every(value => val.includes(value));
        this.currentValue = val;
      },
      immediate: true
    },
    currentValue(val) {
      this.$emit('input', val);
    },
    allChecked(val) {
      this.$emit('all-checked', {
        allChecked: val,
        layer: this.layer,
        parent: this.parent
      });
    }
  },

  methods: {
    // 需要抛出单个点击的事件，因为通过点击取消的话需要
    customOneChange(e, item) {
      const checked = e.target.checked;
      this.$emit('custom-one-change', {
        item,
        checked,
        layer: this.layer
      });
    },
    //手动点击全选： 需要区分是点击还是脚本触发值的改变（如果用watch的话，当全选的时候去除一个子项时会由于触发非全选而清空值）
    customAllChecked(e) {
      const allChecked = e.target.checked;
      const type = allChecked ? 'add' : 'del';
      this.$parent.setLayerValues(type, this.layer, this.getAllCheckedList());
    },
    // 是否有子级
    hasChildren(item) {
      return item && item.children && item.children.length;
    },
    // 有子级的情况下，点击弹出子级，而不是勾选
    clickText(item) {
      if (this.hasChildren(item)) {
        this.popChild(item);
      } else {
        this.toggleChecked(item);
      }
    },

    // 弹出子级
    popChild(item) {
      // 弹出子级需要的数据
      this.$emit('pop-child', item, this.layer, this.parent);
    },
    getAllCheckedList() {
      return this.data.map(item => item.path);
    },
    //设置单个勾选值
    toggleChecked(item) {
      const currentValue = this.currentValue;
      const index = currentValue.indexOf(item.path);
      const oldChecked = index > -1;
      if (oldChecked) {
        currentValue.splice(index, 1);
      } else {
        currentValue.push(item.path);
      }
    }
  }
};
</script>

<style lang="scss">
@import '@assets/css/var';
@import '@assets/css/mixin';
$border-color: rgb(235, 238, 245);
.more-cascader-item {
  .body {
    .item {
      .item-checkall {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
      }
      .item-left {
        .item-input {
          & + .item-checkbox {
            position: relative;
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-right: 10px;
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              border: 1px solid $border-color;
              border-radius: 3px;
              transition: background-color 0.2s;
            }
            &:after {
              content: '';
              position: absolute;
              top: 3px;
              left: 6px;
              width: 3px;
              height: 7px;
              border-right: 1px solid white;
              border-bottom: 1px solid white;
              transform: rotate(40deg) scale(0);
              transition: transform 0.3s;
            }
          }

          &:checked + .item-checkbox:before {
            background-color: $theme-color;
          }

          &:checked + .item-checkbox:after {
            transform: rotate(40deg) scale(1);
          }
        }
      }
    }
  }
}
</style>
