<template>
  <div class="h-type-input">
    <input
      type="text"
      spellcheck="false"
      v-model="c_value"
      placeholder="输入标题或是采用创意搜索选择优质内容"
      @keydown="keydown"
      @paste="paste"
      @click="click"
    />

    <span>
      <!-- 字数限制 -->
      <span class="limit-length">
        <span :class="{ error: getLength(c_value) < 10 || getLength(c_value) > 60 }">{{
          Math.ceil(getLength(c_value) / 2)
        }}</span
        >/30
      </span>
      <!-- 删除按钮 -->
      <i v-if="$listeners.delete" class="el-icon-delete del-icon" @click="del"></i>
    </span>

    <!-- 类型选择 -->
    <div class="type">
      <span class="type-input__title">{{ title }}</span>
      <ul class="type-input__types">
        <li v-for="(type, i) of types" :key="i" @click="addType(type)">
          <span>+{{ type.name }}</span>
        </li>
        <li style="margin-left:110px" @click="openDialog">
          <span>更多</span>
        </li>
      </ul>
    </div>

    <!-- 选择动态词包 -->
    <el-dialog title="选择动态词包" :visible.sync="dialogShow" append-to-body>
      <h-table :columns="columns" :data="c_wordData">
        <!-- 替换词 -->
        <template #words="{ row,index }">
          <h-over-hide v-model="c_wordData[index].wordShow" :height="20">
            {{ row.words.join() }}
          </h-over-hide>
        </template>
        <!-- 状态 -->
        <!-- <template v-slot:status="{row}">
          <span>审核通过</span>
        </template>-->
        <!-- 操作 -->
        <template #tool="{ row }">
          <span class="type-insert" @click="insert(row)">插入</span>
        </template>
      </h-table>
    </el-dialog>
  </div>
</template>

<script>
import { getLength } from '@utils/common';
import HTable from '../HTable/HTable';
import HOverHide from '../HOverHide/HOverHide';
export default {
  name: 'h-type-input',
  components: { HTable, HOverHide },
  // directives: {
  //   over: {
  //     inserted(el) {
  //       const dom = el.querySelector('.over-hide-main');
  //       const isOver = dom.scrollWidth > dom.clientWidth;
  //       if (!isOver) dom.nextElementSibling.style.display = 'none';
  //     }
  //   }
  // },
  props: {
    title: {
      type: String,
      default: '插入动态词包：'
    },
    types: {
      type: Array,
      default: () => []
    },
    value: {
      type: String,
      default: ''
    },
    chooseTypes: {
      type: Array,
      default: () => []
    },
    wordData: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      c_value: '',
      c_chooseTypes: [],
      // 选择动态词包
      dialogShow: false,
      columns: [
        {
          key: 'name',
          title: '词包',
          width: 60
        },
        {
          key: 'default_word',
          title: '默认词',
          width: 60
        },
        {
          key: 'words',
          title: '替换词',
          width: 200
        },
        {
          key: 'user_rate',
          title: '用户覆盖率',
          width: 70
        },
        {
          key: 'status',
          title: '状态',
          width: 60
        }
      ],
      wordShow: false,
      c_wordData: this.wordData.map(word => ({
        ...word,
        ...{ wordShow: false }
      }))
    };
  },
  watch: {
    value: {
      handler(val) {
        this.c_value = val;
      },
      immediate: true
    },
    c_value(val) {
      this.$emit('input', val);
    },
    chooseTypes: {
      handler(val) {
        this.c_chooseTypes = val;
      },
      immediate: true
    },
    // 将选中的类型ID抛出去
    c_chooseTypes(val) {
      this.$emit('update:choose-types', val);
    }
  },
  methods: {
    // 打开动态词组
    openDialog() {
      this.dialogShow = true;
    },
    // 获取字符串长度，包括中文
    getLength(str) {
      return getLength(str);
    },
    // 新增类型
    addType(type) {
      if (!this.checkTypes()) return;
      this.c_value += `{${type.name}}`;
      this.c_chooseTypes.push(type.id);
    },
    // 插入类型
    insert(row) {
      this.dialogShow = false;
      if (!this.checkTypes()) return;
      this.c_value += `{${row.name}}`;
      // this.c_chooseTypes.push(row.creative_word_id);
      this.c_chooseTypes.push(row.title);
    },
    // 新增或插入前检查
    checkTypes() {
      if (this.c_chooseTypes.length === 2) {
        this.$message.error('最多插入两个词包', 'error');
        return false;
      }
      return true;
    },
    // 键盘事件
    keydown(e) {
      const dom = e.target;
      const cursorPos = this.getCursorPosistion(dom);
      let nextStr = '';
      if (e.keyCode === 37) {
        // 向左
        const cursorStart = cursorPos[0] || cursorPos;
        nextStr = this.c_value.charAt(cursorStart - 1);
        if (nextStr === '}') {
          // 按住shift的状态
          if (e.shiftKey) {
            this.setCursorPosition(dom, cursorStart - 4);
            e.preventDefault();
          } else {
            // 没有按住shift的状态
            this.setCursorPosition(dom, cursorStart - 3);
          }
        }
      } else if (e.keyCode === 39) {
        // 向右
        const cursorEnd = cursorPos[1] || cursorPos;
        nextStr = this.c_value.charAt(cursorEnd);
        if (nextStr === '{') {
          // 按住shift的状态
          if (e.shiftKey) {
            this.setCursorPosition(dom, cursorEnd + 4);
            e.preventDefault();
          } else {
            // 没有按住shift的状态
            if (nextStr === '{') this.setCursorPosition(dom, cursorEnd + 3);
          }
        }
      } else if (e.keyCode === 38 || e.keyCode === 40) {
        // 向上或者向下会跳到开头或者结尾，这里禁止
        e.preventDefault();
      } else if (e.keyCode === 8) {
        // 删除
        const cursorStart = cursorPos[0] || cursorPos;
        nextStr = this.c_value.charAt(cursorStart - 1);
        if (nextStr === '}') {
          e.preventDefault();
          const startStr = this.c_value.slice(0, cursorPos - 4);
          const endStr = this.c_value.slice(cursorPos);
          this.c_value = startStr + endStr;
          const match = this.c_value.match(/\}/g);
          const typeIndex = (match && match.length) || 0;
          this.c_chooseTypes.splice(typeIndex, 1);
        }
      }
    },
    // 鼠标事件
    click(e) {
      const indexRangeArr = this.getKeyIndexRange();
      const dom = e.target;
      const cursorPos = this.getCursorPosistion(dom);
      // 直接点击
      if (typeof cursorPos === 'number') {
        for (const indexRange of indexRangeArr) {
          const start = indexRange[0];
          const end = indexRange[1];
          if (cursorPos > start && cursorPos <= end) {
            this.setCursorPosition(dom, end);
            return;
          }
        }
      } else {
        // 选中范围下点击
        const cursorStart = cursorPos[0];
        const cursorEnd = cursorPos[1];
        for (const indexRange of indexRangeArr) {
          const start = indexRange[0];
          const end = indexRange[1];
          if ((cursorEnd > start && cursorEnd <= end) || (cursorStart > start && cursorStart <= end)) {
            this.setCursorPosition(dom, end);
            return;
          }
        }
      }
    },
    // 获取关键字位置
    getKeyIndexRange() {
      const matches = this.c_value.match(/\{.*?\}/g) || [];
      let repeatIndex = 1; //重复的match需特殊处理

      const indexRangeArr = matches.sort().map((match, i) => {
        const isRepeat = match === matches[i - 1];
        repeatIndex = isRepeat ? repeatIndex + 1 : 1;
        const matchStart = this.getIndex(this.c_value, match, repeatIndex);
        const matchEnd = matchStart + match.length;
        return [matchStart, matchEnd];
      });
      return indexRangeArr;
    },
    // 获取字符串第n次出现的位置
    getIndex(str, key, n = 1) {
      let index = str.indexOf(key);
      for (let i = 1; i < n; i++) {
        index = str.indexOf(key, index + 1);
      }
      return index;
    },
    // 获取光标位置
    getCursorPosistion(dom) {
      if (!document.selection) {
        // 非ie，当选中范围时返回数组
        const start = dom.selectionStart;
        const end = dom.selectionEnd;
        return start === end ? start : [start, end];
      } else {
        // ie
        dom.focus();
        var selectRange = document.selection.createRange();
        selectRange.moveStart('character', -dom.value.length);
        return selectRange.text.length;
      }
    },

    // 设置光标位置
    setCursorPosition(dom, pos) {
      if (!document.selection) {
        // 非ie
        dom.setSelectionRange(pos, pos);
        dom.focus();
      } else {
        // ie
        var range = dom.createTextRange();
        range.moveEnd('character', pos);
        range.moveStart('character', pos);
        range.select();
      }
    },
    // 粘贴事件，避免出现{}关键字
    paste(e) {
      const pasteText = this.getPasteText(e);

      if (/\{|\}/g.test(pasteText)) {
        this.$message.error('创意标题不支持输入特殊字符，请正确输入', 'error');
        setTimeout(() => {
          this.c_value = this.c_value.replace(pasteText, '');
        }, 0);
      }
    },
    // 获取粘贴的值，兼容IE
    getPasteText(e) {
      const clipboardData = e.clipboardData || window.clipboardData; //非IE || IE
      const pastedText = clipboardData.getData('Text');
      return pastedText;
    },
    // 删除事件
    del() {
      this.$emit('delete');
    }
  }
};
</script>

<style lang="scss">
@import '@assets/css/var';
.h-type-input {
  font-size: 13px;
  input {
    min-width: 400px;
    color: #606266;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dcdfe6;
    line-height: 2;
    padding: 0 10px;
    transition: all 0.3s;
    &:focus {
      border-color: $theme-color;
    }
    &::placeholder {
      color: #c0c4cc;
    }
  }
  .limit-length {
    margin-left: 10px;
  }
  .del-icon {
    font-size: 18px;
    cursor: pointer;
    vertical-align: -2px;
    margin-left: 10px;
    &:hover {
      color: #f56c6c;
    }
  }
  .type {
    margin: 5px 0;

    .type-input__title {
      color: #999999;
      margin-right: 10px;
    }
    .type-input__types {
      display: inline-block;
      li {
        display: inline-block;
        color: #598fe6;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}

.type-insert {
  color: $theme-color;
  cursor: pointer;
}

// .h-table-overhide {
//   position: relative;
//   text-align: left;
//   padding: 5px;
//   .btn {
//     text-align: right;
//   }

//   &.hide {
//     .main {
//       width: calc(100% - 30px);
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       word-break: break-all;
//     }
//     .btn {
//       position: absolute;
//       right: 5px;
//       top: 5px;
//     }
//   }
// }
</style>
