<!--
 * @Author: Hang
 * @Date: 2020-07-16 23:04:10
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-17 11:13:25
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/components/ContentTitle.vue
 * @Description: 暂无描述
-->
<template>
  <h2 class="content-title" :h-content="hContent">{{ title }}</h2>
</template>

<script>
export default {
  name: 'content-title',
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {};
  },
  computed: {
    hContent() {
      // h-content属性值不能出现特殊字符，这里只兼容空格，后续需考虑更多的字符和去除字符后的唯一性问题
      return this.title.replace(/\s/g, '');
    }
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
// @import 'url';
.content-title {
  margin: 0;
  padding: 35px 20px 20px 0;
}
</style>
