<!--
 * @Author: Hang
 * @Date: 2020-07-16 20:03:47
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-19 22:37:24
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/components/Demo.vue
 * @Description: 暂无描述
-->

<template>
  <div class="h-demo">
    <slot name="title">
      <content-title :title="title"></content-title>
    </slot>
    <slot name="explain">
      <p class="h-demo-explain">{{ explain }}</p>
    </slot>
    <div v-if="!isOnlyText" class="h-demo-wrap">
      <div class="demo-display">
        <slot name="display"></slot>
      </div>
      <div class="code-wrap" :style="codeWrapStyle" ref="codeWrap">
        <slot name="code">
          <p v-if="help || $slots.help" class="code-help">
            <slot name="help">{{ help }}</slot>
          </p>
          <h-hight-light class="demo-hl" :code="code"></h-hight-light>
        </slot>
      </div>
      <div class="code-btn" @click="toggle">
        <i class="code-btn-caret" :class="`el-icon-caret-${show ? 'top' : 'bottom'}`"></i>
        <p class="code-btn-text">{{ show ? '隐藏代码' : '显示代码' }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { getPx } from '@utils/common';
export default {
  name: 'h-demo',
  props: {
    title: {
      type: String,
      default: 'title'
    },
    explain: {
      type: String,
      default: 'explain'
    },
    code: {
      type: String,
      default: 'code'
    },
    help: {
      type: String,
      default: ''
    },
    // 只保留title和explain
    isOnlyText: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      show: false
    };
  },
  computed: {
    codeWrapStyle() {
      return {
        height: this.show ? getPx(this.$refs.codeWrap.scrollHeight) : 0
      };
    }
  },
  created() {},
  mounted() {},
  methods: {
    toggle() {
      this.show = !this.show;
    }
  }
};
</script>
<style lang="scss">
// @import 'url';
.h-demo {
  padding-left: 20px;

  &:hover {
    .h-demo-wrap {
      .code-btn {
        .code-btn-caret {
          transform: translateX(-40px);
        }
        .code-btn-text {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
  }

  .h-demo-title {
    margin: 0;
    padding: 55px 20px 20px 0;
  }
  .h-demo-explain {
    margin: 0;
    padding: 0 20px 20px 0;
    color: #5e6d82;
    font-size: 14px;
  }
  .h-demo-wrap {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
    }
    .demo-display {
      padding: 24px;
    }
    .code-wrap {
      // 这里设置最大高度
      // max-height: 1000px;
      // overflow: auto;
      overflow: hidden;
      background-color: #fafafa;
      padding: 0 20px;
      border-top: 1px solid #eaeefb;
      transition: height 0.2s;
      .code-help {
        font-family: Menlo, Monaco, Consolas, Courier, monospace;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        font-size: 14px;
        line-height: 26px;
        color: #666;
        word-break: break-word;
        margin-top: 20px;
        background-color: #fff;
        code {
          font-weight: 400;
          border: 1px solid #eaeefb;
          color: #5e6d82;
          background-color: #e6effb;
          margin: 0 4px;
          display: inline-block;
          padding: 1px 5px;
          font-size: 12px;
          border-radius: 3px;
          // height: 18px;
          line-height: 18px;
        }
      }
      .demo-hl {
        margin: 0;
        code {
          background-color: transparent;
        }
      }
    }
    .code-btn {
      border-top: 1px solid #eaeefb;
      height: 44px;
      box-sizing: border-box;
      background-color: #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      text-align: center;
      margin-top: -1px;
      color: #d3dce6;
      cursor: pointer;
      position: relative;

      &:hover {
        color: #409eff;
        background-color: #f9fafc;
      }

      // 箭头
      .code-btn-caret {
        font-size: 16px;
        line-height: 44px;
        transform: translateX(0);
        transition: all 0.3s;
      }
      // 文字
      .code-btn-text {
        font-size: 14px;
        opacity: 0;
        display: inline-block;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s;
      }
    }
  }
}
</style>
