<!--
 * @Author: Hang
 * @Date: 2020-07-16 22:55:24
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-22 21:30:15
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/components/OptionsTables.vue
 * @Description: 暂无描述
-->

<template>
  <div class="options-tables">
    <template v-for="{ title, columns, data } of options">
      <content-title :key="`h-${title}`" :title="title"></content-title>
      <h-table
        type="front"
        :max-height="false"
        :key="title"
        :columns="columns"
        :rows="data"
        :border="false"
        :page="false"
        size="medium"
        align="left"
      ></h-table>
    </template>
  </div>
</template>

<script>
export default {
  name: 'options-tables',
  props: {
    options: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
// @import 'url';
.options-tables {
  padding: 20px;
  font-size: 13px;
}
</style>
