<!--
 * @Author: Hang
 * @Date: 2020-07-13 19:29:23
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-14 22:55:58
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HEmpty/HEmpty.vue
 * @Description: 暂无描述
-->
<template>
  <div class="h-empty">
    <div v-if="icon" class="empty-icon-wrap" :class="{ 'is-border': isBorder }">
      <i class="empty-icon" :class="currentIcon"></i>
      <div class="empty-icon-text">{{ text }}</div>
    </div>

    <p v-else class="empty-text" :class="{ 'is-border': isBorder }">
      <span>{{ text }}</span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'h-empty',
  props: {
    text: {
      type: String,
      default: '暂无数据'
    },
    icon: {
      type: [Boolean, String],
      default: true
    },
    isBorder: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {};
  },
  computed: {
    currentIcon() {
      return this.icon === true ? 'el-icon-receiving' : this.icon;
    }
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url' */
.h-empty {
  width: 100%;
  text-align: center;

  .empty-text {
    position: relative;
    min-height: 59px;
    margin: 0;
    font-size: 12px;
    color: #5a5e66;

    &.is-border {
      border: 1px solid #e6ebf5;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .empty-icon-wrap {
    color: #c0c4cc;
    padding: 20px;

    &.is-border {
      border: 1px solid #e6ebf5;
    }
    .empty-icon {
      font-size: 60px;
    }
    .empty-icon-text {
      font-size: 13px;
      margin-top: 5px;
    }
  }
}
</style>
