<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 13:50:32
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/quickStart/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-quick-start">
    <!-- 完整引入 -->
    <content-title :title="allLoad.title"></content-title>
    <p class="h-explain">{{ allLoad.explain }}</p>
    <h-hight-light :code="allLoad.code" min-height="auto"></h-hight-light>
    <!-- 按需引入 -->
    <content-title :title="needLoad.title"></content-title>
    <p class="h-explain">{{ needLoad.explain1 }}</p>
    <h-hight-light :code="needLoad.code1" min-height="auto"></h-hight-light>
  </div>
</template>

<script>
import code from './code';
export default {
  name: 'd-quick-start',
  data() {
    return {
      code,
      allLoad: {
        title: '完整引入',
        explain: '在 main.js 中写入以下内容：',
        code: code.allLoad
      },
      needLoad: {
        title: '按需引入',
        explain1:
          '借助 babel-plugin-import，我们可以只引入需要的组件，以达到减小项目体积的目的。首先，安装 babel-plugin-import：',
        code1: code.installImportPlugin,
        explain2: ''
      }
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
