<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-21 18:51:42
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/install/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-install">
    <!-- 使用说明 -->
    <content-title :title="base.title"></content-title>
    <p class="h-explain">{{ base.explain }}</p>
    <!-- npm 安装 -->
    <content-title :title="install.title"></content-title>
    <p class="h-explain">{{ install.explain }}</p>
    <h-hight-light :code="install.code" min-height="auto"></h-hight-light>
  </div>
</template>

<script>
import code from './code';
export default {
  name: 'd-install',
  data() {
    return {
      code,
      base: {
        title: '使用说明',
        explain: '该组件库基于vue、elementUI、axios（如果使用hightlight组件，还基于hightlight.js）'
      },
      install: {
        title: 'npm 安装',
        explain: '使用 npm 的方式安装',
        code: code.install
      }
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
