<!--
 * @Author: Hang
 * @Date: 2020-07-15 10:05:28
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-16 12:27:28
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HOverHide/HOverHide.vue
 * @Description: 暂无描述
-->

<template>
  <div class="h-over-hide">
    <div v-over class="over-hide-main" ref="main">
      <slot>请传入slot</slot>
    </div>
    <span class="over-hide-btn" :style="btnStyle" @click="_switch">{{ show ? showText : hideText }}</span>
  </div>
</template>

<script>
import { getPx } from '@utils/common';
export default {
  name: 'h-over-hide',
  props: {
    height: {
      type: [Number, String],
      default: 100
    },
    maxHeight: {
      type: [Number, String]
    },
    value: {
      type: Boolean,
      default: false
    },
    hideText: {
      type: String,
      default: '展开'
    },
    showText: {
      type: String,
      default: '收起'
    },
    textAlign: {
      type: String,
      default: 'center'
    }
  },
  directives: {
    over: {
      inserted(el, binding, vnode) {
        const vm = vnode.context;
        vm.setHeight(el);
      },
      update(el, binding, vnode) {
        const vm = vnode.context;
        if (vm.scrollHeight === el.scrollHeight) {
          // 当scrollHeight已经确定
          vm.switchHandle(el);
        } else {
          // scrollHeight还不确定，继续设置初始化（比如节点动态加载时）
          vm.setHeight(el);
        }
      }
    }
  },
  data() {
    return {
      show: false,
      clientHeight: 0,
      scrollHeight: 0
    };
  },
  computed: {
    btnStyle() {
      return {
        textAlign: this.textAlign
      };
    }
  },
  watch: {
    height: {
      handler(val) {
        this.clientHeight = val;
      },
      immediate: true
    },
    value: {
      handler(val) {
        this.show = val;
      },
      immediate: true
    },
    show(val) {
      this.$emit('input', val);
    }
  },
  methods: {
    _switch() {
      this.show = !this.show;
    },
    // 确定高度
    setHeight(el) {
      el.style.height = getPx(this.height);
      el.style.overflow = 'hidden';
      el.style.maxHeight = getPx(this.maxHeight);
      this.clientHeight = el.clientHeight;
      this.scrollHeight = el.scrollHeight;
    },
    // 点击展开收缩按钮时
    switchHandle(el) {
      el.style.height = getPx(this.show ? this.scrollHeight : this.clientHeight);
      if (this.show) {
        // 展开，需要在动画结束后才改变overflow，否则会提前出现滚动条
        const setOverflow = () => {
          el.style.overflow = 'auto';
          el.removeEventListener('transitionend', setOverflow);
        };
        el.addEventListener('transitionend', setOverflow);
      } else {
        // 收起，需要马上隐藏滚动条
        el.style.overflow = 'hidden';
      }
    }
  }
};
</script>

<style lang="scss">
@import '@assets/css/var';
.h-over-hide {
  .over-hide-main {
    transition: height 0.3s;
  }
  .over-hide-btn {
    display: block;
    color: $theme-color;
    cursor: pointer;
  }
}
</style>
