<!--
 * @Author: Hang
 * @Date: 2020-07-13 21:29:54
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 13:04:58
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HHideScroll/HHideScroll.vue
 * @Description:
-->
<template>
  <div class="h-hide-scroll">
    <div class="scroll-main" :style="scrollStyle" @scroll="onScroll" ref="main">
      <slot v-test></slot>
    </div>
    <!-- 如果高度不溢出，超不显示滚动条 -->
    <div v-show="height !== scrollHeight" class="scroll-mask" :style="scrollStyle">
      <div class="scroll-bar" :style="scrollBarStyle"></div>
    </div>
  </div>
</template>

<script>
import { getPx } from '@utils/common';
import { observeEl } from '@utils/dom';
export default {
  name: 'h-hide-scroll',

  props: {
    maxHeight: {
      type: [Number, String],
      default: 'auto'
    },
    // 默认会监听所有子节点的style和class的变化，以设置最新的高度,但会有一定性能的消耗
    unMutationObserver: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      // 显示高度
      height: 0,
      // 滚动高度
      scrollHeight: 0,
      // 当前滚动百分比
      movePercent: 0,
      // main元素监听器
      mainObserver: null
    };
  },
  computed: {
    percent() {
      return +(this.height / this.scrollHeight).toFixed(2);
    },
    // 滚动条高度
    scrollBarHeight() {
      return Math.round(this.height * this.percent) || 0;
    },
    // 滚动条移动距离
    scrollBarY() {
      return +((this.height - this.scrollBarHeight) * this.movePercent).toFixed(2);
    },
    // main和mask样式
    scrollStyle() {
      return {
        maxHeight: getPx(this.maxHeight)
      };
    },
    // 滚动条样式
    scrollBarStyle() {
      return {
        height: getPx(this.scrollBarHeight),
        transform: `translateY(${this.scrollBarY}px)`
      };
    }
  },
  created() {},
  mounted() {
    this.init();
    if (!this.unMutationObserver) this.observeMain();
  },
  beforeDestroy() {
    this.mainObserver.disconnect();
  },
  methods: {
    init() {
      // 必须加nextTick保证高度正确
      this.$nextTick(() => {
        const scrollEl = this.$refs.main;
        // 小数点，1px的兼容
        if (this.height !== scrollEl.clientHeight) this.height = scrollEl.clientHeight;
        if (this.scrollHeight !== scrollEl.scrollHeight) this.scrollHeight = scrollEl.scrollHeight;
      });
    },
    onScroll(e) {
      const currentScrollHeight = e.target.scrollTop;
      const movePercent = currentScrollHeight / (this.scrollHeight - this.height);
      this.movePercent = movePercent;
    },
    // 监听子节点高度是否更新
    observeMain() {
      this.mainObserver = observeEl(this.$refs.main, this.init);
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
.h-hide-scroll {
  $scrollSize: 6px;
  position: relative;
  height: 100%;
  // overflow: hidden;

  &:hover {
    .scroll-mask {
      opacity: 1;
    }
  }

  .scroll-main {
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .scroll-mask {
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;

    .scroll-bar {
      width: 6px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      position: absolute;
      right: 0;
    }
  }
}
</style>
