<!--
 * @Author: Hang
 * @Date: 2020-07-15 17:58:04
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-15 19:25:53
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HTable/EditModal.vue
 * @Description: 暂无描述
-->

<template>
  <h-modal class="h-edit-modal" v-model="show" :form="form" :params.sync="formParams" :submit-url="submitUrl"></h-modal>
</template>

<script>
export default {
  name: 'edit-modal',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    form: {
      type: Array,
      default: () => []
    },
    params: {
      type: Object,
      default: () => ({})
    },
    submitUrl: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      show: false,
      formParams: {}
    };
  },
  watch: {
    value: {
      handler(val) {
        this.show = val;
      },
      immediate: true
    },
    show(val) {
      this.$emit('input', val);
    },
    formParams: {
      handler(val) {
        this.$emit('update:params', val);
      },
      deep: true,
      immediate: true
    }
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
