<!--
 * @Author: Hang
 * @Date: 2020-07-12 17:20:24
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-23 12:01:20
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HTable/HTable.vue
 * @Description: 
    部分参数说明：
      1、getTable传入一个函数(参数为接口参数，返回{columns:[],data:[]})，例子：
      const getTable = (params) => {
      return http({
        url: "/getTable",
        params,
      }).then(({ data: { data } }) => data);
};
-->
<template>
  <div class="h-table">
    <!-- 表单,不需特殊操作的情况下，直接传form数据生成即可，有特殊表单请通过slot自定义 -->
    <slot name="form">
      <h-form v-if="form.length" :data="form" v-model="formParams" inline :size="size">
        <el-form-item>
          <el-button type="primary" :size="size" :loading="loading" icon="el-icon-search" @click="search"
            >搜索
          </el-button>
          <h-export
            v-if="_export"
            :url="exportUrl"
            :size="size"
            :get-export-data="getExportData"
            v-bind="typeof _export === 'boolean' ? {} : _export"
          ></h-export>
          <slot name="search-btn"></slot>
        </el-form-item>
      </h-form>
    </slot>

    <div v-if="$slots.btns || isShow('add')" class="h-table-btns">
      <slot name="btns">
        <el-button v-if="isShow('add')" type="primary" :size="size" icon="el-icon-plus" @click="add">新增 </el-button>
        <slot name="btn"></slot>
      </slot>
    </div>

    <!-- 表格 -->
    <el-table
      :data="currentRows"
      :border="border"
      :max-height="currentMaxHeight"
      :size="size"
      style="width: 100%;"
      v-loading="loading"
      v-bind="$attrs"
      @cell-dblclick="cellClick"
      @sort-change="sortChange"
      ref="table"
    >
      <!-- vue只支持根元素为一个，并且el-table不能出现el-table-column之外的元素（会错列），所以这里用数组的方式递归 -->
      <h-table-column v-for="column of currentColumns" :key="column.key" :column="column">
        <!-- 关键：将传入的具名插槽声明透传 -->
        <template v-for="(slots, slotKey) of $scopedSlots" :slot="slotKey" slot-scope="{ row, index }">
          <slot :name="slotKey" :row="row" :index="index"> </slot>
        </template>
      </h-table-column>
      <!-- 工具列,单独在这里声明 -->
      <el-table-column
        v-if="isShow('tool')"
        key="tool"
        prop="tool"
        label="操作"
        align="center"
        fixed="right"
        :min-width="currentTool.minWidth"
        v-bind="currentTool"
      >
        <template slot-scope="{ row, $index }">
          <slot name="tool" :row="row" :index="$index">
            <div v-tool class="tool-btns">
              <template>
                <el-button v-if="isShow('edit')" type="text" :size="size" @click="edit(row, $index)">编辑</el-button>

                <template v-if="isShow('del')">
                  <el-popconfirm class="tool-confirm" title="确定删除该记录吗？" @onConfirm="del(row, $index)">
                    <el-button slot="reference" type="text" :size="size">删除</el-button>
                  </el-popconfirm>
                </template>
              </template>

              <slot name="tool-btn"></slot>
            </div>
          </slot>
        </template>
      </el-table-column>
    </el-table>

    <!-- 分页 -->
    <el-pagination
      v-if="page"
      class="h-page"
      :current-page="pageOptions.currentPage"
      :current-size="pageOptions.currentSize"
      :total="pageOptions.total"
      v-bind="typeof page === 'boolean' ? {} : pageOptions"
      @size-change="sizeChange"
      @current-change="pageChange"
    >
    </el-pagination>

    <!-- 新增编辑模态框 -->
    <h-modal
      v-if="operate"
      :title="editTitle"
      v-model="editShow"
      :params.sync="editParams"
      :form-values="editFormValues"
      v-bind="operate"
    >
      <slot name="edit-modal"></slot>
    </h-modal>
  </div>
</template>

<script>
import axios from 'axios';
import ColWidth from './ColWidth';
import { cellClick, editModal, page, exportMixin, sort } from './mixin';
import { getPx } from '@utils/common';
import HTableColumn from './HTableColumn';
import HForm from '../HForm/HForm';
import HModal from '../HModal/HModal';
import HExport from '../HExport/HExport';
import commonMixin from '@utils/mixin/common';
export default {
  name: 'h-table',
  inheritAttrs: false,
  mixins: [cellClick, editModal, commonMixin, page, exportMixin, sort],
  components: { HTableColumn, HForm, HModal, HExport },
  directives: {
    tool: {
      update(el, binding, vnode) {
        const vm = vnode.context;
        if (!vm.currentTool.HAS_SET_WID) {
          // 只获取一次，看后续需不需要手动调整宽度
          const TOOL_PADDING_WIDTH = 24;
          vm.currentTool = {
            ...vm.currentTool,
            minWidth: el.clientWidth + TOOL_PADDING_WIDTH,
            ...vm.tool,
            HAS_SET_WID: true
          };
        }
      }
    }
  },
  props: {
    url: {
      type: String
    },
    getTable: {
      type: Function
    },

    params: {
      type: Object,
      default: () => ({})
    },
    form: {
      type: Array,
      default: () => []
    },

    maxHeight: {
      type: [Boolean, Number, String],
      default: true
    },
    columns: {
      type: Array,
      default: () => []
    },
    rows: {
      type: Array,
      default: () => []
    },
    footer: {
      type: Object,
      default: () => ({})
    },
    border: {
      type: Boolean,
      default: true
    },
    size: {
      type: String,
      default: 'small'
    },
    tool: {
      type: Object,
      default: () => ({})
    },
    operate: {
      type: Object
    },
    align: {
      type: String,
      default: 'center',
      validator: val => ['center', 'left', 'right'].includes(val)
    }
  },
  data() {
    return {
      currentMaxHeight: undefined,
      // 表头
      currentColumns: [],
      // 表格数据
      currentRows: [],
      // 汇总数据
      currentFooter: {},
      // 加载中
      loading: false,
      // 表单参数
      formParams: {},
      // 工具列相关参数
      currentTool: {
        //  在tool-btns第一次获取到宽度时设置（只需要获取一次工具列的宽度，在v-tool上获取）
        HAS_SET_WID: false,
        minWidth: 100
      }
    };
  },

  mounted() {
    this.setMaxHeight();
    this.load();
  },
  methods: {
    // 显示控制
    isShow(type) {
      const operate = this.operate;
      const listeners = this.$listeners;
      const scopedSlots = this.$scopedSlots;
      const slots = this.$slots;
      switch (type) {
        case 'add':
          return operate || listeners.add;
        case 'edit':
          return operate || listeners.edit;
        case 'del':
          return listeners.del;
        case 'tool':
          return scopedSlots.tool || operate || listeners.edit || listeners.del || slots['tool-btn'];
        default:
          break;
      }
    },
    // 设置表格最大高度不超过屏幕
    setMaxHeight() {
      if (this.maxHeight === false) return;
      if (this.maxHeight !== true) {
        this.currentMaxHeight = getPx(this.maxHeight);
        return;
      }
      if (!this.HAS_SET_TABLE_HEIGHT && this.$refs.table) {
        //必须添加nextTick,否则不出高度
        this.$nextTick(() => {
          const winHei = document.documentElement.clientHeight;
          const tableOffsetTop = this.$refs.table.$el.getBoundingClientRect().top;
          const paginationHeight = 40;
          const paddingBottom = 20;
          const pcHeight = winHei - tableOffsetTop - paginationHeight - paddingBottom;
          this.currentMaxHeight = pcHeight;
        });
        this.HAS_SET_TABLE_HEIGHT = true; //只执行一次
      }
    },
    // 获取参数（每次发起请求前获取，保证是最新的参数）
    getParams() {
      return { ...this.formParams, ...this.pageParams, ...this.sortParams, ...this.params };
    },
    // 加载表格
    load() {
      return new Promise((resolve, reject) => {
        try {
          if (this.getTable || this.url) {
            // 接口数据
            this.loading = true;
            const params = this.getParams();
            const getApi = this.getTable || this.urlGetTable;
            getApi(params)
              .then(res => {
                this.setTableData(res.data);
                this.$emit('loaded', res);
                resolve(res);
              })
              .finally(() => {
                this.loading = false;
              });
          } else {
            // 前端传入数据
            this.setTableData({ columns: this.columns, rows: this.rows, footer: this.footer });
            this.$emit('loaded');
            resolve();
          }
        } catch (error) {
          reject(error);
        }
      });
    },
    // 接口获取表格数据
    urlGetTable(params) {
      return axios(this.url, { params }).then(({ data }) => data || { columns: [], rows: [] });
    },
    // 设置表格相关数据(默认为传入数据)
    setTableData({ columns, rows, footer, total } = {}) {
      this.currentRows = this.handleRows(rows, columns);
      this.currentFooter = footer || this.footer;

      // 设置计算后的表格宽度
      this.currentColumns = this.handleColumns(columns);
      this.pageOptions.total = total || this.rows.length || 0;
    },
    // 获取表格数据
    handleRows(rows, columns) {
      if (this.type === 'back') {
        return rows || this.rows || [];
      } else {
        return this.getFrontPageRows(rows, columns);
      }
    },
    // 处理表头
    handleColumns(columns) {
      // 增加表头宽度
      let newColumns = new ColWidth(columns || this.columns, this.currentRows, this.currentFooter);
      // 增加align
      for (const column of newColumns) {
        if (this.align) column.align = this.align;
        if (column.children) this.handleColumns(column.children);
      }
      return newColumns;
    },
    // 点击搜索
    search() {
      this.pageOptions.currentPage = 1;
      this.load();
    },
    // 新增
    add() {
      if (this.operate) {
        this.isEdit = false;
        this.editShow = true;
        this.editFormValues = undefined;
      } else {
        // 自定义
        this.$emit('add', this);
      }
    },
    // 编辑
    edit(row, index) {
      if (this.operate) {
        this.editFormValues = row;
        this.isEdit = true;
        this.editShow = true;
      } else {
        // 自定义
        this.$emit('edit', row, index);
      }
    },
    // 抛出删除事件
    del(row, index) {
      this.$emit('del', row, index);
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
.h-table {
  .h-table-btns {
    margin-bottom: 18px;
  }
  .tool-btns {
    display: inline-block;

    .el-button + .tool-confirm,
    .tool-confirm + .el-button,
    .tool-confirm + .tool-confirm {
      margin-left: 10px;
    }
  }
  .h-page {
    margin-top: 10px;
  }
}
</style>
