<!--
 * @Author: Hang
 * @Date: 2020-07-12 21:11:02
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-23 12:01:37
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HTable/HTableColumn.vue
 * @Description: 
-->

<template>
  <el-table-column
    :key="column.key"
    :prop="column.key"
    :label="column.title"
    :min-width="column.minWidth"
    :align="column.align || 'center'"
    :sortable="column.sort ? 'custom' : undefined"
    v-bind="column"
  >
    <template slot-scope="{ row, $index }">
      <slot :name="column.key" :row="row" :index="$index">
        {{ row[column.key] }}
      </slot>
    </template>
    <template v-if="column.children">
      <h-table-column v-for="childColumn of column.children" :key="childColumn.key" :column="childColumn">
        <!-- 关键：将传入的具名插槽声明透传 -->
        <template v-for="(slots, slotKey) of $scopedSlots" :slot="slotKey" slot-scope="{ row, index }">
          <slot :name="slotKey" :row="row" :index="index"> </slot>
        </template>
      </h-table-column>
    </template>
  </el-table-column>
</template>

<script>
export default {
  name: 'h-table-column',
  props: {
    column: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {};
  },
  created() {},
  mounted() {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
