<!--
 * @Author: Hang
 * @Date: 2020-07-17 11:15:12
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-22 11:26:44
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HFix/HFix.vue
 * @Description: 暂无描述
-->
<template>
  <div class="h-fix" :style="fixStyle" ref="fix">
    <slot></slot>
  </div>
</template>

<script>
import { getPx } from '@utils/common';
import { observeEl } from '@utils/dom';
export default {
  name: 'h-fix',
  props: {
    // 滚动的容器
    target: {
      type: HTMLElement
    },
    top: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      scrollEl: null,
      isFix: false,
      initFixPos: {
        left: 0,
        top: 0
      },
      initOffsetPos: {
        top: 0
      },
      // fix元素监听器
      fixObserver: null,
      fixStyle: {
        position: 'relative',
        top: 0,
        left: 0
      }
    };
  },

  watch: {
    scrollEl() {
      this.listenScroll();
    },
    isFix: {
      handler(val) {
        this.setFixStyle(val);
      }
    }
  },
  mounted() {
    // 使用nextTick保证scrollEl有值,并且位置计算的值是正确的
    this.$nextTick(() => {
      this.setScrollEl();
      this.setInitPosition();
      // 初始先触发一次，兼容元素一开始就需要固定的情况
      this.setIsFix(0);
      this.observeFix();
    });
  },
  beforeDestroy() {
    this.fixObserver && this.fixObserver.disconnect();
    this.scrollEl.removeEventListener('scroll', this.onScroll);
  },
  methods: {
    // 初始设置位置信息
    setInitPosition() {
      const fixEl = this.$refs.fix;
      if (!fixEl) return;
      const { left, top } = fixEl.getBoundingClientRect();
      this.initFixPos = {
        left,
        top
      };
      const { top: scrollTop } = this.scrollEl.getBoundingClientRect();
      const computedStyle = getComputedStyle(this.scrollEl);
      const paddingTop = +computedStyle['padding-top'].replace(/px.*/, '');
      const borderTop = +computedStyle['border-top'].replace(/px.*/, '');
      this.initOffsetPos = {
        // 需要固定的元素到滚动窗口之间的高度差
        top: top - scrollTop - paddingTop - borderTop
      };
    },
    // 监听滚动事件
    listenScroll() {
      if (!this.scrollEl) return;
      this.scrollEl.addEventListener('scroll', this.onScroll);
    },
    // 滚动触发
    onScroll(e) {
      const scrollTop = e.target.scrollTop;
      this.setIsFix(scrollTop);
    },
    setIsFix(scrollTop) {
      // 触发固定的条件：滚动的高度 > 固定元素到滚动窗口之间的高度 - 需要提前固定的高度
      this.isFix = scrollTop > this.initOffsetPos.top - this.top;
    },
    setFixStyle(isFix) {
      this.fixStyle = {
        position: isFix ? 'fixed' : 'relative',
        top: isFix ? getPx(this.top + this.initFixPos.top - this.initOffsetPos.top) : 0,
        left: isFix ? getPx(this.initFixPos.left) : 0
      };
    },
    setScrollEl() {
      this.scrollEl = this.target || window;
    },
    // 观察子节点，重新设置initFixPos的left，兼容【异步加载后有滚动条导致左右有滚动条宽度的错位问题】
    observeFix() {
      const fixEl = this.$refs.fix;
      if (!fixEl) return;
      observeEl(fixEl, () => {
        const { left } = fixEl.getBoundingClientRect();
        this.initFixPos.left = left;
      });
    }
  }
};
</script>
<style lang="scss">
// @import 'url';
.h-fix {
  z-index: 1;
}
</style>
