<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 12:23:41
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/typeInput/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-type-input">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-card>
          <h-type-input v-model="value" :types="types" :wordData="wordData"> </h-type-input>
        </h-card>
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-type-input',
  data() {
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain: '在该输入框中，类型将作为一个特殊的块',
        code: code.test1,
        help: ''
      },
      value: '',
      types: [
        { id: 4, name: '地点' },
        { id: 1727, name: '日期' },
        { id: 1736, name: '星期' },
        { id: 1737, name: '年龄' }
      ],
      wordData: [
        {
          name: '词包1',
          default_word: '默认词1',
          words: [
            '替换词1',
            '替换词1',
            '替换词1',
            '替换词1',
            '替换词1',
            '替换词1',
            '替换词1',
            '替换词1',
            '替换词1',
            '替换词1',
            '替换词1'
          ],
          user_rate: '用户覆盖率1',
          status: '状态1'
        }
      ]
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
