<!--
 * @Author: Hang
 * @Date: 2020-07-15 17:59:44
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-15 20:48:06
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HModal/HModal.vue
 * @Description: 
-->

<template>
  <el-dialog :title="title" :visible.sync="show" append-to-body v-bind="$attrs">
    <slot>
      <h-form v-if="form.length" :data="form" v-model="formParams" v-bind="formProps" ref="form"></h-form>
    </slot>

    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="show = false">取 消</el-button>
      <el-button type="primary" size="mini" :loading="loading" @click="commit">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import HForm from '../HForm/HForm';
import axios from 'axios';
import { deepCopy } from '@utils/common';
import commonMixin from '@utils/mixin/common';
export default {
  name: 'h-modal',
  inheritAttrs: false,
  components: { HForm },
  mixins: [commonMixin],
  props: {
    // 待开发，传入一个返回promise的函数
    submit: {
      type: Function
    },
    submitUrl: {
      type: String,
      default: ''
    },
    value: {
      type: Boolean,
      default: false
    },
    form: {
      type: Array,
      default: () => []
    },
    params: {
      type: Object,
      default: () => ({})
    },
    handleParams: {
      type: Function
    },
    formProps: {
      type: Object,
      default: () => ({
        size: 'small'
      })
    },
    title: {
      type: String,
      default: '模态框'
    },
    // 赋值的表单数据
    formValues: {
      type: Object
    }
  },
  data() {
    return {
      show: false,
      loading: false,
      // 表单参数
      formParams: {}
    };
  },
  watch: {
    value: {
      handler(val) {
        this.show = val;
        if (val) {
          this.init();
        }
      },
      immediate: true
    },
    show(val) {
      this.$emit('input', val);
    },
    formParams: {
      handler(val) {
        this.$emit('update:params', val);
      },
      deep: true,
      immediate: true
    }
  },
  created() {},
  mounted() {},
  methods: {
    getParams() {
      if (typeof this.handleParams === 'function') {
        let formParams = deepCopy(this.formParams);
        const result = this.handleParams(formParams);
        return result || formParams;
      }
      return this.formParams;
    },
    commit() {
      if (!this.$refs.form.formCheck()) {
        return;
      }

      this.loading = true;
      axios({
        url: this.submitUrl,
        method: 'post',
        data: this.getParams()
      })
        .then(({ data }) => {
          this.show = false;
          this.$message.success(data.msg);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    // 打开时进行初始化，比如表单的校验和值的清除
    init() {
      // 必须加nextTick，保证在form表单设置formParams后再执行getInitObj
      this.$nextTick(() => {
        this.formParams = this.getInitObj(this.formParams, this.formValues);
        this.clearCheck('form');
      });
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
