<template>
  <div class="h-upload">
    <div class="h-choose-toolbar">
      <div class="h-choose-btn">
        <el-button size="mini" type="primary" @click="chooseFile">选择文件</el-button>
        <input type="file" multiple :accept="accept" @change="change" ref="input" />
      </div>

      <div class="h-upload-btn">
        <el-button size="mini" type="primary" :loading="loading" @click="uploadFile">上传文件</el-button>
      </div>

      <div class="h-upload-btn">
        <slot></slot>
      </div>
    </div>

    <div v-if="tip" class="h-upload-tip">{{ tip }}</div>

    <ul class="h-file-list" :class="{ 'h-file-loading': loading }">
      <li v-for="(file, i) of files" :key="file.uid">
        <div class="file-wrap">
          <span class="file-main">
            <i class="h-file-icon el-icon-document"></i>
            <span class="h-file-name ellipsis">{{ file.name }}</span>
            <span class="h-upload-status">
              <i v-if="!file.loading" class="status" :class="`el-icon-${file.status}`"></i>
              <i v-else>{{ file.percent }}%</i>
              <i v-if="file.status !== 'success'" class="close el-icon-upload" @click="uploadOne(file)"></i>
              <i class="close el-icon-close" @click="delFile(i)"></i>
            </span>
          </span>

          <span v-if="file.error" class="h-upload-msg__error ellipsis">
            {{ file.error }} <el-button type="text" size="mini" @click="reupload(file)">断点续传</el-button>
          </span>
        </div>
        <div v-show="file.loading" class="file-progress">
          <el-progress :percentage="file.percent" :stroke-width="3" :show-text="false"></el-progress>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { uploadChunk } from '@utils/work';

export default {
  name: 'h-upload',
  props: {
    url: String,
    chunkSize: {
      type: Number,
      default: 0.05 // 50KB
    },
    handleParams: {
      type: Function
    },
    maxSize: Number, // 单位MB
    accept: String,
    tip: {
      type: String,
      default: '请先选择文件（可批量），再点击上传'
    }
  },
  data() {
    return {
      files: []
    };
  },
  computed: {
    // 文件列表有文件正在上传
    loading() {
      return !!this.files.length && this.files.some(file => file.loading);
    }
  },
  methods: {
    chooseFile() {
      // 清空值，使得可以重复上传同样的文件
      this.$refs.input.value = '';
      this.$refs.input.click();
    },
    change(e) {
      // 点击取消时
      if (!e.target.files.length) return;
      const files = Array.from(e.target.files);
      //检查文件是超过大小
      if (this.maxSize) {
        for (const file of e.target.files) {
          if (file.size > this.maxSize * 1024 * 1024) {
            this.$message.error(`选择的文件超出${this.maxSize}M,请重新选择`, 'error');
            return;
          }
        }
      }

      let newFiles = this.files;

      for (const file of files) {
        // 重名不继续添加
        if (newFiles.some(item => item.name === file.name)) continue;
        // 设置文件列表
        newFiles.push({
          name: file.name,
          status: '',
          error: '',
          loading: false,
          percent: 0,
          breakChunk: null, // 在第几片失败，下次从该片续传
          origin: file // 存放原始文件
        });
      }

      this.files = newFiles;
    },

    // 文件上传
    uploadFile() {
      if (!this.files.length) {
        this.$message.error('请先选择文件', 'error');
        return;
      }

      for (const file of this.files) {
        this.uploadChunk(file);
      }
    },
    // 上传单个
    uploadOne(file) {
      this.uploadChunk(file);
    },
    // 重新上传
    reupload(file) {
      this.uploadChunk(file);
    },
    // 通用切片上传
    uploadChunk(file) {
      this.fileInit(file, 'upload');
      const onProcess = percent => {
        file.percent = percent;
        this.$emit('process', { percent, file, files: this.files });
      };
      const onSuccess = () => {
        this.fileInit(file, 'success');
        this.$emit('success', { file, files: this.files });
      };
      const onFail = ({ data }, breakChunk) => {
        this.fileInit(file, 'fail');
        file.error = data.msg;
        file.breakChunk = breakChunk;
        this.$emit('fail', { file, files: this.files });
      };
      const onError = (err, breakChunk) => {
        this.fileInit(file, 'error');
        file.error = '文件上传异常';
        file.breakChunk = breakChunk;
        this.$emit('error', { file, files: this.files });
      };
      const handleParams = params => {
        if (typeof this.handleParams === 'function') {
          const newParams = this.handleParams(params);
          return newParams;
        }
      };
      const params = {
        url: this.url,
        file: file.origin,
        size: this.chunkSize,
        chunk: file.breakChunk || 0,
        onProcess,
        onSuccess,
        onFail,
        onError,
        handleParams
      };

      uploadChunk(params);
    },
    // file根据状态初始化
    fileInit(file, status) {
      switch (status) {
        case 'upload':
          file.loading = true;
          file.status = '';
          file.error = '';
          break;
        case 'success':
          file.loading = false;
          file.status = 'success';
          file.percent = 0;
          file.breakChunk = null;
          break;
        case 'fail':
        case 'error':
          file.loading = false;
          file.status = 'error';
          break;
        default:
          break;
      }
    },
    // 移除当前文件
    delFile(i) {
      this.files.splice(i, 1);
    }
  }
};
</script>

<style lang="scss">
.h-upload {
  color: #606266;
  .h-choose-btn {
    display: inline-block;
    input {
      display: none;
    }
  }
  .h-choose-toolbar {
    display: flex;
    align-items: center;
  }
  .h-upload-btn {
    display: inline-block;
    margin-left: 5px;
    button {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  .h-upload-tip {
    font-size: 12px;
    color: #909399;
    margin: 5px 0;
  }
  .h-file-list {
    font-size: 13px;
    max-width: 360px;
    margin-top: 10px;
    &.h-file-loading {
      pointer-events: none;
    }
    li {
      position: relative;
      .file-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;

        .file-main {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          &:hover {
            background: #f5f7fa;
            .h-upload-status {
              .status {
                display: none;
              }
              .close {
                display: inline-block;
              }
            }
          }
        }
        .h-upload-msg__error {
          padding-left: 10px;
          position: absolute;
          right: 0;
          transform: translate(100%, 0);
          color: #f56c6c;
          white-space: nowrap;
          font-size: 12px;
          max-width: 200px;
        }
        .h-file-icon {
          flex-shrink: 0;
          margin-right: 5px;
          color: #909399;
          font-size: 15px;
        }
        .h-file-name {
          flex: 1;
        }
        .h-upload-status {
          position: relative;
          flex-shrink: 0;
          margin-left: 0 5px;
          i {
            display: inline-block;
            width: 20px;
            line-height: 1.5;
            text-align: center;
            color: #909399;
          }
          .status {
            display: inline-block;
            &.el-icon-success {
              color: #67c23a;
            }
            &.el-icon-error {
              color: #f56c6c;
            }
          }
          .close {
            display: none;
          }
        }
      }
      .file-progress {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}
</style>
