<!--
 * @Author: Hang
 * @Date: 2020-07-16 12:39:06
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 22:48:54
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HCatalog/HCatalog.vue
 * @Description: 暂无描述
-->
<template>
  <ul class="h-catalog" :style="style">
    <li
      v-for="{ key, title } of data"
      :key="key"
      :class="{ 'active-catalog': key === currentKey }"
      @click="changeCatalog(key)"
    >
      <div class="ellipsis">
        {{ title }}
      </div>
    </li>
  </ul>
</template>

<script>
import { getPx } from '@utils/common';
export default {
  name: 'h-catalog',
  props: {
    width: {
      type: [String, Number],
      default: 150
    },
    data: {
      type: Array,
      default: () => []
    },
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      currentKey: ''
    };
  },
  computed: {
    style() {
      return {
        width: getPx(this.width)
      };
    }
  },
  watch: {
    value: {
      handler(val) {
        this.currentKey = val;
      },
      immediate: true
    },
    currentKey(val) {
      this.$emit('input', val);
    }
  },

  methods: {
    changeCatalog(key) {
      this.currentKey = key;

      // 也支持change抛出，比如滚动的场景下，v-model不合适（需要区分开值的变化是通过【点击】还是【脚本触发】）
      this.$emit('change', key);
    }
  }
};
</script>
<style lang="scss">
@import '@assets/css/var';
$paddingLeft: 20px;
$liHeight: 20px;
.h-catalog {
  font-size: 12px;
  border-left: 1px solid $border-color;
  cursor: pointer;
  li {
    height: $liHeight;
    line-height: $liHeight;
    padding-left: $paddingLeft;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $theme-color;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &.active-catalog {
      color: $theme-color;
      &::after {
        opacity: 1;
      }
    }
  }
}
</style>
