<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-22 11:07:16
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/scroll/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-scroll">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-scroll :height="500" :to="scrollTop" :el="scrollEl" @scroll="onScroll" @scroll-end="scrollEnd">
          <el-button type="primary" @click="scrollTo(200)">跳转到200px</el-button>
          <el-button type="primary" @click="scrollTo('.d-scroll-test')">跳转到回到顶部按钮</el-button>
          <div v-for="n of 9" :key="n" class="d-scroll-test1">
            <p>这是</p>
            <p>很长的</p>
            <p>文字</p>
            <p>~</p>
            <p>~</p>
            <p>~</p>
          </div>
          <el-button type="primary" class="d-scroll-test" @click="scrollTo(0)">回到顶部</el-button>
        </h-scroll>
      </template>
    </h-demo>
    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-scroll',
  data() {
    return {
      code,
      options,
      scrollTop: undefined,
      scrollEl: '',
      test1: {
        title: '基础使用',
        explain:
          '在保证元素可以滚动的情况下（默认设置height:100%，通过height属性修改），通过输入scrollTop或一个元素的selector，或者调用scrollTo(target)实现跳转',
        code: code.test1,
        help: '注意:h-scroll是通过watch来触发滚动，如果to或el的值和原来相同，则不会触发滚动！'
      }
    };
  },
  created() {},
  mounted() {},
  methods: {
    scrollTo(target) {
      if (typeof target === 'number') {
        this.scrollTop = target;
      } else if (typeof target === 'string') {
        this.scrollEl = target;
      }
    },
    onScroll(scrollTop) {
      // console.log(scrollTop);
    },
    scrollEnd() {
      // 使得可以重复触发滚动事件
      this.scrollTop = undefined;
      this.scrollEl = '';
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
.d-scroll {
  height: 100%;
  .d-scroll-test1 {
    // height: 1500px;
    // background: indianred;
  }
}
</style>
