<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-23 12:46:58
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/table/index.vue
 * @Description: 表格演示
-->

<template>
  <div class="d-table">
    <!-- 使用说明 -->
    <h-demo is-only-text :title="test0.title" :explain="test0.explain"> </h-demo>

    <!-- 基础使用 -->
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code">
      <template #display>
        <h-table :url="tableUrl" :max-height="false"> </h-table>
      </template>
    </h-demo>

    <!-- 前端分页 -->
    <h-demo :title="test1_1.title" :explain="test1_1.explain" :code="test1_1.code">
      <template #display>
        <h-table type="front" :url="tableUrl" :max-height="false"> </h-table>
      </template>
    </h-demo>

    <!-- 增加筛选框 -->
    <h-demo :title="test2.title" :explain="test2.explain" :code="test2.code">
      <template #display>
        <h-table :url="tableUrl" :getTable="getTable" :form="form" :max-height="false"> </h-table>
      </template>
    </h-demo>

    <!-- 后端导出 -->
    <h-demo :title="test2_1.title" :explain="test2_1.explain" :code="test2_1.code">
      <template #display>
        <h-table :url="tableUrl" :_export="{ url: tableUrl }" :getTable="getTable" :form="form" :max-height="false">
        </h-table>
      </template>
    </h-demo>

    <!-- 前端导出 -->
    <h-demo :title="test2_2.title" :explain="test2_2.explain" :code="test2_2.code">
      <template #display>
        <h-table
          type="front"
          :url="tableUrl"
          :_export="{ name: '前端导出文件' }"
          :getTable="getTable"
          :form="form"
          :max-height="false"
        >
        </h-table>
      </template>
    </h-demo>

    <!-- 后端排序 -->
    <h-demo :title="test2_3.title" :explain="test2_3.explain" :code="test2_3.code">
      <template #display>
        <h-table :url="tableUrl" :max-height="false"></h-table>
      </template>
    </h-demo>

    <!-- 前端排序 -->
    <h-demo :title="test2_4.title" :explain="test2_4.explain" :code="test2_4.code">
      <template #display>
        <h-table type="front" :url="tableUrl" :max-height="false"></h-table>
      </template>
    </h-demo>

    <!-- 增加新增编辑删除功能 -->
    <h-demo :title="test3.title" :explain="test3.explain" :code="test3.code">
      <template #display>
        <h-table
          :getTable="getTable"
          :form="form"
          :operate="{ form, submitUrl, delUrl }"
          :max-height="false"
          @del="del"
        >
        </h-table>
      </template>
    </h-demo>

    <!-- 自定义单元格内容 -->
    <h-demo :title="test4.title" :explain="test4.explain" :code="test4.code">
      <template #display>
        <h-table
          :getTable="getTable"
          :form="form"
          :operate="{ form, submitUrl, delUrl }"
          :max-height="false"
          @del="del"
        >
          <template #name="{row}">
            <ul>
              <li v-for="(item, i) of row.name" :key="i">{{ item }}</li>
            </ul>
          </template>
        </h-table>
      </template>
    </h-demo>

    <!-- 其它说明 -->
    <h-demo is-only-text :title="test5.title" :explain="test5.explain"> </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import { getTable } from '@api/map';
import code from './code';
import options from './options';
import { getUrl } from '@api/http';

export default {
  name: 'd-table',
  data() {
    return {
      options,
      getTable: getTable,
      form: [
        {
          key: 'address',
          title: '地址'
        },
        {
          key: 'city',
          title: '城市'
        },
        {
          key: 'date',
          title: '时间',
          type: 'date'
        }
      ],
      tableUrl: getUrl('/getTable'),
      submitUrl: getUrl('/operate'),
      delUrl: getUrl('/delete'),
      test0: {
        title: '使用说明',
        explain:
          '在ElementUI表格的基础上集成了前后端分页、筛选框、表单、模态框、动态计算表格宽度、最大高度不超过屏幕底部、双击复制单元格等功能的表格',
        code: code.test0
      },
      test1: {
        title: '基础使用',
        explain:
          '默认后端分页，需传入url（或者getTable,具体使用参考参数说明)，并包含了动态计算表格宽度、最大高度不超过屏幕底部、双击复制单元格的功能',
        code: code.test1
      },
      test1_1: {
        title: '前端分页',
        explain: '前端分页，传入type="front"，前端会保留原始数据，通过切割原始数据得到显示数据',
        code: code.test1_1
      },
      test2: {
        title: '增加筛选框',
        explain: '通过form属性添加表单数据，即可出现筛选框和搜索按钮',
        code: code.test2
      },
      test2_1: {
        title: '后端导出',
        explain: '通过_export属性设置为{url:exportUrl}或者true来开启导出功能',
        code: code.test2_1
      },
      test2_2: {
        title: '前端导出',
        explain: '通过_export属性设置为true或对象（比如指定名字{name:"导出名字"}）来开启导出功能，不需指定_export.url',
        code: code.test2_2
      },
      test2_3: {
        title: '后端排序',
        explain:
          'column.sort不为falsy值时开启排序功能，传给后端的参数为sortKey和sortOrder。以下例子日期的sort值为"date"',
        code: code.test2_3
      },
      test2_4: {
        title: '前端排序',
        explain:
          'column.sort不为falsy值时开启排序功能，前端需指定排序类型，支持类型参考参数说明。以下例子日期的sort值为"date"',
        code: code.test2_4
      },
      test3: {
        title: '新增编辑删除',
        explain:
          '添加operate属性，即可出现新增编辑功能，如果需要删除功能，需要监听del事件，通过@del添加（按钮和操作都支持自定义slot。也可不传入editProps,通过@add和@edit自定义新增编辑的逻辑，不弹出模态框）',
        code: code.test3
      },
      test4: {
        title: '自定义单元格内容',
        explain: '通过传入表头key值的具名slot，实现自定义单元格内容，这里把名字列返回的数组变成多行显示',
        code: code.test4
      },
      test5: {
        title: '其它说明',
        explain:
          '默认有计算最大高度不超过屏幕，表头宽度根据字符动态计算，双击单元格复制内容等功能。具体功能参照下面参数说明'
      }
    };
  },
  methods: {
    add(table) {
      console.log(table);
    },
    edit(row, index) {
      console.log(row, index);
    },
    del(row, index) {
      console.log(row, index);
    }
  }
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
