<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 11:51:59
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/checkbox/index.vue
 * @Description: 表单演示
-->

<template>
  <div class="d-checkbox">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-checkbox-group
          v-model="checkedList"
          :data="checkboxData"
          :cols="4"
          height="40vh"
          placeholder="关键字，请输入..."
        >
        </h-checkbox-group>
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';

export default {
  name: 'd-checkbox',
  data() {
    const checkboxData = Array(1000)
      .fill()
      .map((item, i) => ({
        id: i,
        name: `勾选框${i}`
      }));
    return {
      code,
      options,
      test1: {
        title: '基础使用',
        explain: '需要渲染大量checkbox框时使用：只显示可视窗口的3倍数据，并且使用事件代理来避免vue双向绑定的重开销',
        code: code.test1,
        help: ''
      },
      checkboxData,
      checkedList: []
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
