<!--
 * @Author: Hang
 * @Date: 2020-07-14 10:24:29
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-16 10:33:48
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/layouts/DMenu/index.vue
 * @Description: 暂无描述
-->

<template>
  <div class="d-menu">
    <p class="menu-title">
      安装指南
    </p>
    <sub-menu :menus="devGuide.menus"></sub-menu>

    <p class="menu-title">
      组件
    </p>
    <sub-menu v-for="(menus, title) of typeRoutes" :key="title" :title="title" :menus="menus"></sub-menu>
  </div>
</template>

<script>
import SubMenu from './SubMenu';
import path from 'path';
export default {
  name: 'd-menu',
  components: { SubMenu },
  data() {
    return {
      devGuide: {
        menus: []
      },
      typeRoutes: {}
    };
  },
  computed: {
    routes() {
      return this.$router.options.routes;
    }
  },
  created() {},
  mounted() {
    this.handleRoutes();
  },
  methods: {
    // 生成路由数据typeRoutes和devGuide：将路径转换成绝对路径,并按组件类型分好路由
    handleRoutes() {
      let typeRoutes = {};

      const helper = (routes, prev = []) => {
        for (const route of routes) {
          const absolutePath = path.resolve(...prev, route.path);
          const componentType = route.componentType;
          if (componentType) {
            // 是组件类型
            if (componentType !== 'DevGuide') {
              // 非安装指南，正常处理
              if (!typeRoutes[componentType]) typeRoutes[componentType] = [];
              typeRoutes[componentType].push({
                absolutePath: absolutePath,
                name: route.name,
                title: route.title
              });
            } else {
              // 安装指南，特殊处理
              this.devGuide.menus.push({
                absolutePath: absolutePath,
                title: route.title
              });
            }
          }
          if (route.children) {
            helper(route.children, [...prev, route.path]);
          }
        }
      };

      helper(this.routes);

      this.typeRoutes = typeRoutes;
    }
  }
};
</script>
<style lang="scss" scoped>
@import '@assets/css/var';
.d-menu {
  margin-top: 20px;
  border-right: 1px solid $border-color;
}
.menu-title {
  padding-left: 30px;
  font-size: 16px;
  color: #333;
  line-height: 40px;
  height: 40px;
  margin: 0;
  padding-left: 30px;
  text-decoration: none;
  display: block;
  position: relative;
  transition: 0.15s ease-out;
  font-weight: 700;
}
</style>
