<!--
 * @Author: Hang
 * @Date: 2020-07-14 10:28:15
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-14 16:20:21
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/layouts/DMenu/SubMenu.vue
 * @Description: 暂无描述
-->

<template>
  <div class="d-sub-menu">
    <template v-if="title">
      <p class="sub-title">{{ title }}</p>
    </template>

    <ul>
      <li v-for="{ absolutePath, name, title } of menus" :key="absolutePath" class="sub-item ellipsis">
        <router-link :to="absolutePath" class="sub-link">
          <span>{{ toCapital(name) }}</span>
          <span class="chinese">{{ title }}</span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { toCapital } from '@utils/common';
export default {
  name: 'd-sub-menu',
  props: {
    title: {
      type: String,
      default: ''
    },
    menus: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      // 首字母大写
      toCapital
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss" scoped>
@import '@assets/css/var';
$paddingLeft: 30px;
$paddingRight: 25px;
.d-sub-menu {
  font-size: 14px;
  .sub-title {
    margin: 0;
    padding: 10px 0;
    margin-left: $paddingLeft;
    margin-right: $paddingRight;
    border-bottom: 1px solid $border-color;
    font-size: 13px;
    color: #999;
  }
  .sub-item {
    margin: 4px 0;

    .sub-link {
      position: relative;
      display: block;
      height: 40px;
      line-height: 40px;
      padding-left: $paddingLeft;
      padding-right: $paddingRight;
      color: rgba(0, 0, 0, 0.85);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-right: 3px solid #1890ff;
        transform: scaleY(0);
        opacity: 0;
        transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
          opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &:hover {
        color: $theme-color;
      }
      &.router-link-active {
        background-color: #e6f7ff;
        &::after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
      .chinese {
        padding-left: 10px;
        font-weight: 400;
        font-size: 12px;
        opacity: 0.67;
      }
    }
  }
}
</style>
