<!--
 * @Author: Hang
 * @Date: 2020-07-13 18:22:02
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-13 19:09:11
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/packages/HPop/HPop.vue
 * @Description: 暂无描述
-->
<template>
  <div class="h-pop">
    <div
      v-if="show"
      class="h-pop__container"
      :style="containerStyle"
      ref="container"
    >
      <slot></slot>
      <div class="arrow" :style="arrowStyle"></div>
    </div>

    <div
      class="h-pop__reference"
      @mouseenter="mouseenter"
      @mouseout="mouseout"
      ref="reference"
    >
      <slot name="reference">请传入slot-reference</slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "h-pop",
  props: {
    width: {
      type: [String, Number],
      default: "auto",
    },
    // 弹出时间延迟
    openDelay: {
      type: Number,
      default: 0,
    },
    // 阻止弹出
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      show: false,
      timer: null,
      popBottom: 0,
      popLeft: 0,
    };
  },
  computed: {
    containerStyle() {
      const TRIANGLE_HEIGHT = 10; //三角形高度
      return {
        width: typeof this.width === "number" ? `${this.width}px` : this.width,
        bottom: `${this.popBottom + TRIANGLE_HEIGHT}px`,
        left: `${-this.popLeft}px`,
      };
    },
    arrowStyle() {
      return {
        left: `${this.popLeft}px`,
      };
    },
  },

  methods: {
    mouseenter() {
      if (this.disabled) return;
      this.timer = setTimeout(() => {
        if (this.timer) {
          this.show = true;
          this.showHandle();
        }
      }, this.openDelay);
    },
    mouseout() {
      this.show = false;
      clearTimeout(this.timer);
    },
    showHandle() {
      this.setPopLeft();
      this.setPopBottom();
    },
    setPopBottom() {
      const referenceHeight = this.$refs.reference.scrollHeight;
      this.popBottom = referenceHeight;
    },
    setPopLeft() {
      this.$nextTick().then(() => {
        const containerWidth = this.$refs.container.scrollWidth;
        const referenceWidth = this.$refs.reference.scrollWidth;
        this.popLeft = containerWidth / 2 - referenceWidth / 2;
      });
    },
  },
};
</script>

<style lang="scss">
.h-pop {
  * {
    box-sizing: border-box;
  }
  position: relative;
  .h-pop__container {
    position: absolute;
    left: 0;
    background: white;
    min-width: 150px;
    padding: 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    word-break: break-all;
    border-radius: 5px;
    z-index: 19921102;
  }
  .h-pop__reference {
    display: inline-block;
  }
}
// 箭头
.arrow {
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(45deg);
  border: 1px solid #ebeef5;
  border-top: none;
  border-left: none;
}
</style>
