<!--
 * @Author: Hang
 * @Date: 2020-07-13 15:33:51
 * @LastEditors: Hang
 * @LastEditTime: 2020-07-20 18:20:48
 * @FilePath: /ln-project/Users/zhengmukang/Desktop/hf-ui/examples/views/hightlight/index.vue
 * @Description: 表单演示
-->

<template>
  <div class="d-hightlight">
    <h-demo :title="test1.title" :explain="test1.explain" :code="test1.code" :help="test1.help">
      <template #display>
        <h-hight-light :code="test1.code"></h-hight-light>
      </template>
    </h-demo>

    <options-tables :options="options"></options-tables>
  </div>
</template>

<script>
import code from './code';
import options from './options';
export default {
  name: 'd-hightlight',
  data() {
    return {
      options,
      test1: {
        title: '基础使用',
        explain: '代码高亮组件',
        code: code.test1
      }
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
/* @import 'url'; */
</style>
