// 滚动条样式---------------------
.windows {
  /*高宽分别对应 横 竖 滚动条的尺寸*/
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    // background: rgba(144, 147, 153, 0.3);
    background: rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    // background: rgba(144, 147, 153, 0.5);
    background: rgba(0, 0, 0, 0.4);
  }

  ::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 5px;
    // background: #EDEDED;
  }
}
